<button
  {% if product.metafields.onetime.disabled_one_tieme_pusrchase.value %}
    disabled
  {% endif %}
  id="{{ product_form_id }}-submit"
  type="submit"
  name="add"
  class="quick-add__submit button button-custom button--full-width button--primary  product-{{ endrock_featured_product.title | handleize }}"
  aria-haspopup="dialog"
  aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ variant_current.id }}"
  aria-live="polite"
  {% if variant_current.available == false %}
  disabled
  {% endif %}
>
  <span class="add-to-cart-message">
  {%- if variant_current.available -%}
      {{ 'products.product.add_to_cart' | t }}
  {%- else -%}
      {{ 'products.product.sold_out' | t }}
  {%- endif -%}
  </span>
  <span class="added-message hidden">Added</span>
  <span class="sold-out-message hidden">
  {{ 'products.product.sold_out' | t }}
  </span>
  <div class="loading-overlay__spinner hidden">
    <svg
        aria-hidden="true"
        focusable="false"
        role="presentation"
        class="spinner"
        viewBox="0 0 66 66"
        xmlns="http://www.w3.org/2000/svg"
    >
        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
    </svg>
  </div>
</button>