
{% assign variant = product.selected_or_first_available_variant %}

<script>
  console.log({{ variant.product | json }})
</script>
<label for="{{ section.id }}" class="price-save-subscription">

  {%- if variant.compare_at_price > variant.price  -%}
    {%- assign discounted_amount = variant.compare_at_price | minus: variant.price | times: 100.0 | divided_by: variant.compare_at_price | money_without_currency | times: 100 | round  -%}
    <span class="variant-field__sale" data-discounted="{{ discounted_amount }}">
      Save {{ discounted_amount }}%
    </span>
  {%- endif -%}
  <span class="variant-field__price">
    {%- if is_subcription -%}
      <div class="price-subscription">
        <span class="price-subcription-custom">{{ variant.selling_plan_allocations[0].price | money }}</span>
        <span class="save-subscription"></span>
      </div>
      
    {%- else -%}
      <span>{{ variant.price | money }}</span>
    {%- endif -%}
{% comment %}     {%- if variant.compare_at_price > variant.price -%}
      <s>{{ variant.compare_at_price | money }}</s>
    {%- endif -%} {% endcomment %}
  </span>
</label>