
{% assign variant = product.selected_or_first_available_variant %}

<script>
  console.log({{ variant | json }})
</script>
<label for="{{ section.id }}" class="price-save-subscription">
  <span class="variant-field__price">
    {%- if is_subcription -%}
      <div class="price-subscription">
        {%- assign is_compare = false -%}
        {%- if variant.selling_plan_allocations[0].compare_at_price > variant.selling_plan_allocations[0].price -%}
          {%- assign is_compare = true -%}
        {%- endif -%}
        <s class="price-subcription-compare {% unless is_compare %} hidden {% endunless %}">{{ variant.selling_plan_allocations[0].compare_at_price }}</s>

        <span class="price-subcription-custom">{{ variant.selling_plan_allocations[0].price | money }}</span>
        <span class="save-subscription "></span>
      </div>     
    {%- else -%}
      <span>{{ variant.price | money }}</span>
    {%- endif -%}
  </span>
</label>