{{ 'section-about_us.css' | asset_url | stylesheet_tag }}


<!-- ----------Formulated Hero part--------------- -->
<section class="Formulated-Dentists-page ">


<!-- ----------Formulated Richtext--------------- -->
  
<!--    -->
<!-- <div class="about-us_content page-width">   -->


<!-- -------------section accordion-------------- -->
  <div class="about-us_content page-width">
<section id="section2" class="accordion-Formulated ">
  <div class="text_width-text">
      <div class="left_accordion">  
        {%if  section.settings.hero_Heading!=blank %}
        <div class="accordion-heading">
          <h2 class="accordion-heading desktop_about_head">{{ section.settings.hero_Heading }}</h2>
           <h2 class="accordion-heading mobile_about_head">{{ section.settings.hero_Heading_mobile }}</h2>
        </div>
        {%endif%}
      </div>
      <div class="right_accordion faq">
          <div class="accordion-richtext">
            {%if section.settings.section_title!=blank%}
            <h1 class="accordion_heading">{{ section.settings.section_title }}</h1>
            {%endif%}
            {%if section.settings.faq_title_mobile!=blank%}
            <h1 class="accordion_heading_mobile">{{ section.settings.faq_title_mobile }}</h1>
            {%endif%}
          </div>
        {% for block in section.blocks %} 
        <button class="accordion">
          {%if block.settings.Heading!=blank%}
          
          <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 9L5 5L1 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

          
          {{ block.settings.Heading }}
          {%endif%}
        </button>
        <div class="course-panel panel">
			{%if block.settings.text!=blank%}
            {{ block.settings.text }}
            {%endif%}        
        </div>
        {%endfor%}
       
        
        </div>  
  </div>  
</section>
  </div> 
  
  
<!-- -------------section accordion-------------- -->
<section id="section3" class="section_guarntee">
  
  <div class="text_width-text section_guarnteediv">
    
      <div class="left_accordion">  
        {%if  section.settings.hero_Heading-bottom!=blank %}
        <div class="accordion-heading">
          <h2 class="accordion-heading">{{ section.settings.hero_Heading-bottom }}</h2>
        </div>
        {%endif%}
      </div>
    
    
    

      <div class="right_accordion">
        {%if  section.settings.bottom_content!=blank %}
        <div class="bottom_content">{{ section.settings.bottom_content }}</div>    
        {% endif %}
      </div>  
  </div>  
</section>  


  
  

<style type="text/css">
div.course-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
  
  section.accordion-Formulated {
    margin: 0rem auto 6rem;
    width: 100%;
    font-family: tahoma;
    line-height: 200%;
  }
  section.accordion-Formulated h3 {
/*     background: #fff; */
    padding: 10px;
    margin: 0;
    cursor: pointer;
  }
  .accordion_text {
/*     background: #cedde5; */
    padding: 10px;
    display: none;
  }
  .accordion h3 i {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  html {
    scroll-behavior: smooth;
  }
  .accordion {
  cursor: pointer;
/*   padding: 18px; */
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}


button.accordion.active{
  background-color: #FFF;
}
button.accordion{
  background-color: #FFF; 
}
.course-panel {
/*   padding: 0 18px; */  
  background-color: white;
  overflow: hidden;
}
  
</style>
<!-- <script>
  $(".js-anchor-link").click(function (e) {
    e.preventDefault();
    var target = $($(this).attr("href"));
    if (target.length) {
      var scrollTo = target.offset().top;
      $("body, html").animate({ scrollTop: scrollTo + "px" }, 800);
    }
  });
</script> -->
<script>


	//this is the button
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
		//when one of the buttons are clicked run this function
	  acc[i].onclick = function() {
		//variables
		var panel = this.nextElementSibling;
		var coursePanel = document.getElementsByClassName("course-panel");
		var courseAccordion = document.getElementsByClassName("accordion");
		var courseAccordionActive = document.getElementsByClassName("accordion active");

		/*if pannel is already open - minimize*/
		if (panel.style.maxHeight){
			//minifies current pannel if already open
			panel.style.maxHeight = null;
			//removes the 'active' class as toggle didnt work on browsers minus chrome
			this.classList.remove("active");
		} else { //pannel isnt open...
			//goes through the buttons and removes the 'active' css (+ and -)
			for (var ii = 0; ii < courseAccordionActive.length; ii++) {
				courseAccordionActive[ii].classList.remove("active");
			}
			//Goes through and removes 'activ' from the css, also minifies any 'panels' that might be open
			for (var iii = 0; iii < coursePanel.length; iii++) {
			  // this.classList.remove("active");
			  // coursePanel[iii].style.maxHeight = null;
			}
		  //opens the specified pannel
		  panel.style.maxHeight = panel.scrollHeight + "px";
		  //adds the 'active' addition to the css.
		  this.classList.add("active");
		} 
	  }//closing to the acc onclick function
	}//closing to the for loop.
  
</script>

{% schema %}
{
  "name": "About FAQ",
  "settings": [
    
    {
      "type": "richtext",
       "id": "hero_Heading",
      "label": "Hero Heading "
    },
     {
      "type": "richtext",
       "id": "hero_Heading_mobile",
      "label": "Hero Heading mobile"
    },
    {
      "type": "richtext",
       "id": "hero_Heading-bottom",
      "label": "Hero Heading Bottom"
    },
    {
      "type": "richtext",
       "id": "bottom_content",
      "label": "Bottom Contents "
    }
  ],
  "blocks": [
      {
        "type": "text",
        "name": "Faq",
        "settings": [
          {
            "type": "richtext",
            "id": "Heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
  "presets": [
    {
      "name": "About FAQ",
      "category": "Text"
    }
  ]
}
{% endschema %}