{{ 'section-endrock-featured-collection.css' | asset_url | stylesheet_tag }}
<style>
    #section--{{ section.id }}{
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        background: {{ section.settings.bg_color }};
    }

    {% for block in section.blocks %}
        #block--{{ block.id }} .product_info_1{
            position: absolute;
            top: {{ block.settings.info_1_top_position }};
            left: {{ block.settings.info_1_left_position }};
            bottom: {{ block.settings.info_1_bottom_position }};
            right: {{ block.settings.info_1_right_position }};
        }

        #block--{{ block.id }} .product_info_2{
            position: absolute;
            top: {{ block.settings.info_2_top_position }};
            left: {{ block.settings.info_2_left_position }};
            bottom: {{ block.settings.info_2_bottom_position }};
            right: {{ block.settings.info_2_right_position }};
        }

        #block--{{ block.id }} .product_info_3{
            position: absolute;
            top: {{ block.settings.info_3_top_position }};
            left: {{ block.settings.info_3_left_position }};
            bottom: {{ block.settings.info_3_bottom_position }};
            right: {{ block.settings.info_3_right_position }};
        }

        {%- if forloop.index == 1 -%}
            #block--{{ block.id }} .product_info_1 p:after, #block--{{ block.id }} .product_info_2 p:after{
                content: "";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCA0NCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Ikdyb3VwIDQ1NyI+CjxjaXJjbGUgaWQ9IkVsbGlwc2UgNzYiIGN4PSIzMy41Mzc3IiBjeT0iOS41Mzc1NiIgcj0iNy4zNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTE5LjA1NTggMzMuNTM3NyA5LjUzNzU2KSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIwLjMiLz4KPHBhdGggaWQ9IlZlY3RvciAzMyIgZD0iTTI2IDlIMCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIwLjMiLz4KPC9nPgo8L3N2Zz4K");
                background-repeat: no-repeat;
                background-size: cover;
                width: 43px;
                background-position: center;
                display: block;
                height: 19px;
                position: absolute;
                top: -2.5px;
                right: -16px;
            }

            #block--{{ block.id }} .product_info_2 p:after{
                right: -46px !important;
            }
        {%- endif -%}

        {%- if forloop.index ==2  -%}
            #block--{{ block.id }} .product_info_1 p:after, #block--{{ block.id }} .product_info_3 p:after{
                content: "";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzgiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCA3OCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iNjcuNTM3NyIgY3k9IjkuNTM3NTYiIHI9IjcuMzUiIHRyYW5zZm9ybT0icm90YXRlKC0xOS4wNTU4IDY3LjUzNzcgOS41Mzc1NikiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMC4zIi8+CjxwYXRoIGQ9Ik02MCA5SDAiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMC4zIi8+Cjwvc3ZnPgo=");
                background-repeat: no-repeat;
                background-size: cover;
                width: 73px;
                background-position: center;
                display: block;
                height: 19px;
                position: absolute;
                top: -2.5px;   
                right: -46px;
            }

            #block--{{ block.id }} .product_info_3 p:after{
                right: -11px !important;
            }

        {%- endif -%}

        {%- if forloop.index == 3  -%}
            #block--{{ block.id }} .product_info_1 p:after, #block--{{ block.id }} .product_info_3 p:after{
                content: "";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzgiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCA3OCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iNjcuNTM3NyIgY3k9IjkuNTM3NTYiIHI9IjcuMzUiIHRyYW5zZm9ybT0icm90YXRlKC0xOS4wNTU4IDY3LjUzNzcgOS41Mzc1NikiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMC4zIi8+CjxwYXRoIGQ9Ik02MCA5SDAiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMC4zIi8+Cjwvc3ZnPgo=");
                background-repeat: no-repeat;
                background-size: cover;
                width: 73px;
                background-position: center;
                display: block;
                height: 19px;
                position: absolute;
                top: -2.5px;   
                right: -46px;
            }

            #block--{{ block.id }} .product_info_3 p:before{
                content: "";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzgiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCA3OCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iNjcuNTM3NyIgY3k9IjkuNTM3NTYiIHI9IjcuMzUiIHRyYW5zZm9ybT0icm90YXRlKC0xOS4wNTU4IDY3LjUzNzcgOS41Mzc1NikiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMC4zIi8+CjxwYXRoIGQ9Ik02MCA5SDAiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMC4zIi8+Cjwvc3ZnPgo=");
                background-repeat: no-repeat;
                background-size: cover;
                width: 73px;
                background-position: center;
                display: block;
                height: 19px;
                position: absolute;
                top: -110%;
                left: -25%;
                transform: rotate(-90deg);
            }

            #block--{{ block.id }} .product_info_3 p:after{
                right: -62px !important;
            }
        {%- endif -%}

        {%- if forloop.index == 4  -%}
            #block--{{ block.id }} .product_info_1 p:after, #block--{{ block.id }} .product_info_3 p:after{
                content: "";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCA0NCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Ikdyb3VwIDQ1NyI+CjxjaXJjbGUgaWQ9IkVsbGlwc2UgNzYiIGN4PSIzMy41Mzc3IiBjeT0iOS41Mzc1NiIgcj0iNy4zNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTE5LjA1NTggMzMuNTM3NyA5LjUzNzU2KSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIwLjMiLz4KPHBhdGggaWQ9IlZlY3RvciAzMyIgZD0iTTI2IDlIMCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIwLjMiLz4KPC9nPgo8L3N2Zz4K");
                background-repeat: no-repeat;
                background-size: cover;
                width: 43px;
                background-position: center;
                display: block;
                height: 19px;
                position: absolute;
                top: -2.5px;   
                right: -46px;
            }

            #block--{{ block.id }} .product_info_3 p:before{
                content: "";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCA0NCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Ikdyb3VwIDQ1NyI+CjxjaXJjbGUgaWQ9IkVsbGlwc2UgNzYiIGN4PSIzMy41Mzc3IiBjeT0iOS41Mzc1NiIgcj0iNy4zNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTE5LjA1NTggMzMuNTM3NyA5LjUzNzU2KSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIwLjMiLz4KPHBhdGggaWQ9IlZlY3RvciAzMyIgZD0iTTI2IDlIMCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIwLjMiLz4KPC9nPgo8L3N2Zz4K");
                background-repeat: no-repeat;
                background-size: cover;
                width: 43px;
                background-position: center;
                display: block;
                height: 19px;
                position: absolute;
                top: -80%;
                left: 25%;
                transform: rotate(-90deg);
            }

            #block--{{ block.id }} .product_info_3 p:after{
                right: -52px !important;
            }
        {%- endif -%}
    {% endfor %}

    @media (max-width: 767px){
        #section--{{ section.id }}{
            padding-top: {{ section.settings.mobile_padding_top }}px;
            padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
            background: #ffffff;
        }
    }

.section-endrock-hero-image .desktop_image img {
  min-height: 350px;
}

@media (min-width: 1000px) {
  .endrock-featured-collection__wrapper {
    padding: 20px 90px 20px;
  }
}

@media (max-width: 768px) {
    .item {
  cursor: pointer;
  padding: 5px!important;
  border: 2px solid #000;
  border-radius: 0px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px!important;
}


.title_info
{
    font-size: 28px !important;
    font-style: normal;
    font-weight: 300;
    line-height: 32px !important;
    max-width: 100%;
    text-align: left;
    position: relative;
    top: 10% !important;
    padding: 15px;
}


.cardthree{
    width: calc(100% - 0px) !important;

}





.title_info2
{
    font-size: 18px!important;
    line-height: 22px!important;
    max-width: 100px!important;
  
}

.image-info {
  position: absolute;
  max-height: 46%;
  width: calc(25% - 23px);
}


.imagencontainer {
    width: calc(50% - 23px) !important;
    max-height: 335px;
  }


.image-info {
  position: absolute;
  height: 100%;
  width: calc(50% - 23px)!important;
}

.imagencontainer {
    width: calc(53% - 25px) !important;
    margin-bottom: 25px;
}
.content.active {
  display: block;
  width: calc(51% - 15px)!important;
  max-height: 280px!important;
}



.imagen-info-text {
    height: 22%!important;
    top: 70%!important;
    margin: 10px!important;
    font-size: 10px!important;
    line-height: 15px!important;
    padding: 10px!important;
    width: calc(96% - 10px) !important;
}


.title_info3 {
  font-size: 20px !important;
  line-height: 20px !important;
  top: 0% !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}


.tabs {


  gap: 5px!important;

  font-size: 10px!important;

  margin: 2px!important;
  letter-spacing: 0px;
}
.icon-with-text__wrapper .iwt-item {
  
  width: fit-content;
}

}
.imagencontainer {
  width: calc(25% - 23px);
  height: 100%;
}

.imagencontainerfinal
    {
  width: calc(50% - 23px);
}

.imagencard
{
    width: 100%;
  height: 100%;
  object-fit: cover;

}
.image-info
{
    position: absolute;
    height: 100%;
    width: calc(25% - 23px);
}
.link_info
{
    bottom: 30px;
  position: absolute;
  margin-left: 30px;
  color: black;
  font-weight: 600;
  line-height: 30px;

}

.link_info3
{
    bottom: 10px;
  position: absolute;
  margin-left: 0px;
  color: black;
  font-weight: 600;
  line-height: 30px;

}



.title_info3{

color: #000;
  font-family: Schnyder S;
  font-size: 29px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  position: relative;
  top: 0%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.imagen-info-text
{
    position: absolute;
  height: 38%;
  width: calc(23% - 23px);
  background: #A5E9FF;
  top: 48%;
  margin: 10px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  line-height: 20px;
  padding: 10px;
  font-family: OldschoolGrotesk-Regular;
  width: calc(48% - 23px);
}

.media--transparent {
  padding-bottom: 123%!important;
}
.custom_product_image {

  padding-bottom: 123%!important;
}
.product-list_sw
{ width: 100%!important;}

.custom-product_form {
  margin-bottom: 5px;
}

.endrock-featured-collection .product_title {
  font-size: 20px;
}
</style>


<style>
    body {
      font-family: Arial, sans-serif;
    }

    .tabs {
        display: flex;
  list-style: none;
  padding: 0;
  gap: 10px;
  font-size: 12px;
  margin: 5px;
    }

    .tab {
      flex: 1;
      text-align: center;
      padding: 0px;
      color: black;
cursor: pointer;
font-weight: 600;
    }

    .content {
      display: none;
   
    }

    .content.active {
      display: block;
      width: calc(25% - 23px);
    }
.spanenergy
{
width: 20px;
height: 20px;
background: #FFC600;
display: block;
  border-radius: 50%;
  margin: 4px auto 0px auto;
  padding: 0px;

}


.spansleep
{
width: 20px;
height: 20px;
background: #C271D9;
display: block;
  border-radius: 50%;
  margin: 4px auto 0px auto;
  padding: 0px;

}

.spanoriginal
{
width: 20px;
height: 20px;
background: #00AADE;
display: block;
  border-radius: 50%;
  margin: 4px auto 0px auto;
  padding: 0px;

}

.spanimmunity
{
width: 20px;
height: 20px;
background: #6FCFB4;
display: block;
  border-radius: 50%;
  margin: 4px auto 0px auto;
  padding: 0px;

}

.tabb
{
color: black;
font-weight: 600;
padding: 0px;
}

.why-duo_wrapper .left-content__heading {
  font-size: 50px!important;
  margin: 30px 0px 22px!important;
}

.right-content {
  position: absolute;
  top: 30%!important;
}
  </style>

<div id="section--{{ section.id }}" class="{{ section.settings.id_section_pivot }}">
    <div class="endrock-featured-collection {% if section.settings.full_width %}full-width{% else %}page-width{% endif %}">
        <div class="endrock-featured-collection__container_">
            <div class="endrock-featured-collection__wrapper">
                <h2 class="heading">{{ section.settings.heading }}</h2>
                <div class="swiper-container">
                    <div class="products_wrapper {% if section.settings.swipe_on_mobile %}swiper-wrapper{% endif %}">

                        {%- if section.settings.image_card_one -%}
                            <div class="imagencontainer">

                            <div class="image-info">

                            <h3 class="title_info">{{ section.settings.card_one_title }}</h3>
                            <a class="link_info" href="{{ section.settings.card_link_one }}">{{ section.settings.card_one_subtitle }}</a>
                            </div>
                                <img class="imagencard" src="{{ section.settings.image_card_one | img_url: 'master' }}" alt="{{ section.settings.card_one_title }}">
                               
                            </div>
                        {%- endif -%}
                        
                       

                        {%- for block in section.blocks limit: section.settings.products_to_show -%}
                            {%- assign endrock_featured_product = block.settings.featured_product -%}
                            {%- assign featured_media_aspect_ratio = endrock_featured_product.featured_media.aspect_ratio -%}
                            
                        
                            {%- if block.settings.featured_product_two == blank -%}
                        <div class="product-list {% if section.settings.swipe_on_mobile %}swiper-slide{% endif %}">
                                {%- if block.settings.custom_product_image != blank -%}
                                  
                                  
                                   
                                    <div  id="block--{{ block.id }}" >

                                    <div class="slick-carousel imgmobile">
                                        <div class="slide-content"><img src="{{ block.settings.custom_product_image | img_url: 'master' }}"
                                          class="first_image"
                                          alt="{{ block.settings.custom_product_image.alt }}"
                                          loading="lazy"
                                        ></div>
                                        
                                        <div class="slide-content"><img src="{{ block.settings.hover_image | img_url: 'master' }}"
                                          class="hover_image_"
                                          alt="{{ block.settings.hover_image.alt }}"
                                          loading="lazy"
                                        ></div>
                                            
                                        </div>


                                        <a href="{{ endrock_featured_product.url }}" class="custom_product_image imgpc" style="padding-bottom: {{ 100 | divided_by: block.settings.custom_product_image.aspect_ratio }}%">


                                        
                                            <img src="{{ block.settings.custom_product_image | img_url: 'master' }}"
                                                class="first_image"
                                                alt="{{ block.settings.custom_product_image.alt }}"
                                                loading="lazy"
                                            >
                                            <img src="{{ block.settings.hover_image | img_url: 'master' }}"
                                                class="hover_image"
                                                alt="{{ block.settings.hover_image.alt }}"
                                                loading="lazy"
                                            >
                                        </a>
                                       
                                    </div>
                                    
                                    
                                {%- endif -%}
                                
                                {% if block.settings.custom_product_image == blank %}
                                    <div
                                        class="media media--transparent media--{{ media_size }} media--hover-effect"
                                        {% if endrock_featured_product.featured_media %}
                                        style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
                                        {% endif %}
                                    >
                                        <img
                                        srcset="
                                            {%- if endrock_featured_product.featured_media.width >= 165 -%}{{ endrock_featured_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                                            {%- if endrock_featured_product.featured_media.width >= 360 -%}{{ endrock_featured_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                                            {%- if endrock_featured_product.featured_media.width >= 533 -%}{{ endrock_featured_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                                            {%- if endrock_featured_product.featured_media.width >= 720 -%}{{ endrock_featured_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                                            {%- if endrock_featured_product.featured_media.width >= 940 -%}{{ endrock_featured_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                                            {%- if endrock_featured_product.featured_media.width >= 1066 -%}{{ endrock_featured_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                                            {{ endrock_featured_product.featured_media | img_url: 'master' }} {{ endrock_featured_product.featured_media.width }}w
                                        "
                                        src="{{ endrock_featured_product.featured_media | img_url: '533x' }}"
                                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                        alt="{{ endrock_featured_product.featured_media.alt | escape }}"
                                        loading="lazy"
                                        class="motion-reduce"
                                        width="{{ endrock_featured_product.featured_media.width }}"
                                        height="{{ endrock_featured_product.featured_media.height }}"
                                        >

                                        {%- if endrock_featured_product.media[1] != null and section.settings.show_secondary_image -%}
                                        <img
                                            srcset="
                                            {%- if endrock_featured_product.media[1].width >= 165 -%}{{ endrock_featured_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                                            {%- if endrock_featured_product.media[1].width >= 360 -%}{{ endrock_featured_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                                            {%- if endrock_featured_product.media[1].width >= 533 -%}{{ endrock_featured_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                                            {%- if endrock_featured_product.media[1].width >= 720 -%}{{ endrock_featured_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                                            {%- if endrock_featured_product.media[1].width >= 940 -%}{{ endrock_featured_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                                            {%- if endrock_featured_product.media[1].width >= 1066 -%}{{ endrock_featured_product.media[1] | img_url: '1066x' }} 1066w,{%- endif -%}
                                            {{ endrock_featured_product.media[1] | img_url: 'master' }} {{ endrock_featured_product.media[1].width }}w
                                            "
                                            src="{{ endrock_featured_product.media[1] | img_url: '533x' }}"
                                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                            alt="{{ endrock_featured_product.media[1].alt | escape }}"
                                            loading="lazy"
                                            class="motion-reduce"
                                            width="{{ endrock_featured_product.media[1].width }}"
                                            height="{{ endrock_featured_product.media[1].height }}"
                                        >
                                        {%- endif -%}
                                    </div>
                                {% endif %}

                                <div class="custom-product_form">
                                    {%- if endrock_featured_product.selected_or_first_available_variant.available -%}
                                        {%- assign product_form_id = 'quick-add-' | append: section.id | append: endrock_featured_product.id -%}
                                        <product-form data-cart-type="{{ settings.cart_type }}">
                                            {%- form 'product',
                                                endrock_featured_product,
                                                id: product_form_id,
                                                class: 'form',
                                                novalidate: 'novalidate',
                                                data-type: 'add-to-cart-form'
                                            -%}
                                            {% comment %} {% render 'loop-subscriptions' type: 'product-widget', product: product %} {% endcomment %}

                                            <div class="{{ endrock_featured_product.title| downcase }} products__heading add-toCart">
                                            <input
                                                type="hidden"
                                                name="id"
                                                value="{{ endrock_featured_product.selected_or_first_available_variant.id }}"
                                                disabled
                                            >
                                            <button
                                                id="{{ product_form_id }}-submit"
                                                type="submit"
                                                name="add"
                                                class="quick-add__submit cllctnadd"
                                                aria-haspopup="dialog"
                                                aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ endrock_featured_product.id }}"
                                                aria-live="polite"
                                                {% if endrock_featured_product.selected_or_first_available_variant.available == false %}
                                                disabled
                                                {% endif %}
                                            >
                                                <span class="add-to-cart-message">
                                                {%- if endrock_featured_product.selected_or_first_available_variant.available -%}
                                                    {{ 'products.product.add_to_cart' | t }}
                                                {%- else -%}
                                                    {{ 'products.product.sold_out' | t }}
                                                {%- endif -%}
                                                </span>
                                                <span class="added-message hidden">Added</span>
                                                <span class="sold-out-message hidden">
                                                {{ 'products.product.sold_out' | t }}
                                                </span>
                                                <div class="loading-overlay__spinner hidden">
                                                <svg
                                                    aria-hidden="true"
                                                    focusable="false"
                                                    role="presentation"
                                                    class="spinner"
                                                    viewBox="0 0 66 66"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                >
                                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                </svg>
                                                </div>
                                            </button>
                                            </div>
                                        {%- endform -%}
                                        </product-form>
                                    {%- endif -%}
                                </div>
                                <a href="{{ endrock_featured_product.url }}">
                                    <div class="title-with-price">
                                        <h3 class="product_title">{{ endrock_featured_product.title }}</h3>
                                        <p class="product-price">{{ endrock_featured_product.price | money | remove: '.00' }}</p>
                                    </div>
                                </a>
                                <p class="product_property">{{ endrock_featured_product.metafields.my_fields.feature_product_subtitle }}</p>
                            </div>
                        {% endif %}
                        {%- endfor -%}



                        <div id="tab1" class="content active">
                            {%- for block in section.blocks limit: section.settings.products_to_show -%}
                                {%- assign endrock_featured_product = block.settings.featured_product -%}
                                {%- assign featured_media_aspect_ratio = endrock_featured_product.featured_media.aspect_ratio -%}
                                
                            
                                {%- if block.settings.featured_product_two != blank -%}
                            <div class="product-list product-list_sw {% if section.settings.swipe_on_mobile %}swiper-slide{% endif %}">
                                    {%- if block.settings.custom_product_image != blank -%}
                                        <div class="custom_product_image" id="block--{{ block.id }}" style="padding-bottom: {{ 100 | divided_by: block.settings.custom_product_image.aspect_ratio }}%">
                                            <a href="{{ endrock_featured_product.url }}">
                                                <img src="{{ block.settings.custom_product_image | img_url: 'master' }}"
                                                    class="first_image"
                                                    alt="{{ block.settings.custom_product_image.alt }}"
                                                    loading="lazy"
                                                >
                                                <img src="{{ block.settings.custom_product_image | img_url: 'master' }}"
                                                    class="hover_image"
                                                    alt="{{ block.settings.custom_product_image.alt }}"
                                                    loading="lazy"
                                                >
                                            </a>
                                            
                                        </div>
                                        
                                    {%- endif -%}
                                    
                                    {% if block.settings.custom_product_image == blank %}
                                        <div
                                            class="media media--transparent media--{{ media_size }} media--hover-effect"
                                            {% if endrock_featured_product.featured_media %}
                                            style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
                                            {% endif %}
                                        >
                                            <img
                                            srcset="
                                                {%- if endrock_featured_product.featured_media.width >= 165 -%}{{ endrock_featured_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 360 -%}{{ endrock_featured_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 533 -%}{{ endrock_featured_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 720 -%}{{ endrock_featured_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 940 -%}{{ endrock_featured_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 1066 -%}{{ endrock_featured_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                                                {{ endrock_featured_product.featured_media | img_url: 'master' }} {{ endrock_featured_product.featured_media.width }}w
                                            "
                                            src="{{ endrock_featured_product.featured_media | img_url: '533x' }}"
                                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                            alt="{{ endrock_featured_product.featured_media.alt | escape }}"
                                            loading="lazy"
                                            class="motion-reduce"
                                            width="{{ endrock_featured_product.featured_media.width }}"
                                            height="{{ endrock_featured_product.featured_media.height }}"
                                            >
    
                                            {%- if endrock_featured_product.media[1] != null and section.settings.show_secondary_image -%}
                                            <img
                                                srcset="
                                                {%- if endrock_featured_product.media[1].width >= 165 -%}{{ endrock_featured_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 360 -%}{{ endrock_featured_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 533 -%}{{ endrock_featured_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 720 -%}{{ endrock_featured_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 940 -%}{{ endrock_featured_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 1066 -%}{{ endrock_featured_product.media[1] | img_url: '1066x' }} 1066w,{%- endif -%}
                                                {{ endrock_featured_product.media[1] | img_url: 'master' }} {{ endrock_featured_product.media[1].width }}w
                                                "
                                                src="{{ endrock_featured_product.media[1] | img_url: '533x' }}"
                                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                                alt="{{ endrock_featured_product.media[1].alt | escape }}"
                                                loading="lazy"
                                                class="motion-reduce"
                                                width="{{ endrock_featured_product.media[1].width }}"
                                                height="{{ endrock_featured_product.media[1].height }}"
                                            >
                                            {%- endif -%}
                                        </div>
                                    {% endif %}
    
                                    <div class="custom-product_form">
                                        {%- if endrock_featured_product.selected_or_first_available_variant.available -%}
                                            {%- assign product_form_id = 'quick-add-' | append: section.id | append: endrock_featured_product.id -%}
                                            <product-form data-cart-type="{{ settings.cart_type }}">
                                                {%- form 'product',
                                                    endrock_featured_product,
                                                    id: product_form_id,
                                                    class: 'form',
                                                    novalidate: 'novalidate',
                                                    data-type: 'add-to-cart-form'
                                                -%}
                                                {% comment %} {% render 'loop-subscriptions' type: 'product-widget', product: product %} {% endcomment %}
    
                                                <div class="{{ endrock_featured_product.title| downcase }} products__heading add-toCart">
                                                <input
                                                    type="hidden"
                                                    name="id"
                                                    value="{{ endrock_featured_product.selected_or_first_available_variant.id }}"
                                                    disabled
                                                >
                                                <button
                                                    id="{{ product_form_id }}-submit"
                                                    type="submit"
                                                    name="add"
                                                    class="quick-add__submit cllctnadd"
                                                    aria-haspopup="dialog"
                                                    aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ endrock_featured_product.id }}"
                                                    aria-live="polite"
                                                    {% if endrock_featured_product.selected_or_first_available_variant.available == false %}
                                                    disabled
                                                    {% endif %}
                                                >
                                                    <span class="add-to-cart-message">
                                                    {%- if endrock_featured_product.selected_or_first_available_variant.available -%}
                                                        {{ 'products.product.add_to_cart' | t }}
                                                    {%- else -%}
                                                        {{ 'products.product.sold_out' | t }}
                                                    {%- endif -%}
                                                    </span>
                                                    <span class="added-message hidden">Added</span>
                                                    <span class="sold-out-message hidden">
                                                    {{ 'products.product.sold_out' | t }}
                                                    </span>
                                                    <div class="loading-overlay__spinner hidden">
                                                    <svg
                                                        aria-hidden="true"
                                                        focusable="false"
                                                        role="presentation"
                                                        class="spinner"
                                                        viewBox="0 0 66 66"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                    </svg>
                                                    </div>
                                                </button>
                                                </div>
                                            {%- endform -%}
                                            </product-form>
                                        {%- endif -%}
                                    </div>
                                    <ul class="tabs" data-tab="tab1">
                                        <li class="tabb" ><span class="spanoriginal"></span>{{ block.settings.featured_product.title }}</li>
                                        <li class="tab" data-tab="tab2"> <span class="spanimmunity"></span>{{ block.settings.featured_product_two.title }}</li>
                                        <li class="tab" data-tab="tab3"><span class="spanenergy"></span>  {{ block.settings.featured_product_three.title }}</li>
                                        <li class="tab" data-tab="tab4"><span class="spansleep"></span> {{ block.settings.featured_product_four.title }}</li>
                                      </ul>
                                    <a href="{{ endrock_featured_product.url }}">
    
                                    
                                        <div class="title-with-price">
                                            <h3 class="product_title">{{ endrock_featured_product.title }}</h3>
                                            <p class="product-price">{{ endrock_featured_product.price | money | remove: '.00' }}</p>
                                        </div>
                                    </a>
    
                                   
                             
                                </div>
                            
                            
                            {% endif %}
                        {%- endfor -%}
                        </div>
                        
                        <div id="tab2" class="content">
                            {%- for block in section.blocks limit: section.settings.products_to_show -%}
                                {%- assign endrock_featured_product = block.settings.featured_product_two -%}
                                {%- assign featured_media_aspect_ratio = endrock_featured_product.featured_media.aspect_ratio -%}
                                
                            
                                {%- if block.settings.featured_product_two != blank -%}
                            <div class="product-list product-list_sw {% if section.settings.swipe_on_mobile %}swiper-slide{% endif %}">
                                    {%- if block.settings.custom_product_image != blank -%}
                                        <div class="custom_product_image" id="block--{{ block.id }}" style="padding-bottom: {{ 100 | divided_by: block.settings.custom_product_image.aspect_ratio }}%">
                                            <a href="{{ endrock_featured_product.url }}">
                                                <img src="{{ block.settings.custom_product_image2 | img_url: 'master' }}"
                                                    class="first_image"
                                                    alt="{{ block.settings.custom_product_image2.alt }}"
                                                    loading="lazy"
                                                >
                                                <img src="{{ block.settings.custom_product_image | img_url: 'master' }}"
                                                    class="hover_image"
                                                    alt="{{ block.settings.custom_product_image.alt }}"
                                                    loading="lazy"
                                                >
                                            </a>
                                            
                                        </div>
                                        
                                    {%- endif -%}
                                    
                                    {% if block.settings.custom_product_image == blank %}
                                        <div
                                            class="media media--transparent media--{{ media_size }} media--hover-effect"
                                            {% if endrock_featured_product.featured_media %}
                                            style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
                                            {% endif %}
                                        >
                                            <img
                                            srcset="
                                                {%- if endrock_featured_product.featured_media.width >= 165 -%}{{ endrock_featured_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 360 -%}{{ endrock_featured_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 533 -%}{{ endrock_featured_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 720 -%}{{ endrock_featured_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 940 -%}{{ endrock_featured_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 1066 -%}{{ endrock_featured_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                                                {{ endrock_featured_product.featured_media | img_url: 'master' }} {{ endrock_featured_product.featured_media.width }}w
                                            "
                                            src="{{ endrock_featured_product.featured_media | img_url: '533x' }}"
                                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                            alt="{{ endrock_featured_product.featured_media.alt | escape }}"
                                            loading="lazy"
                                            class="motion-reduce"
                                            width="{{ endrock_featured_product.featured_media.width }}"
                                            height="{{ endrock_featured_product.featured_media.height }}"
                                            >
    
                                            {%- if endrock_featured_product.media[1] != null and section.settings.show_secondary_image -%}
                                            <img
                                                srcset="
                                                {%- if endrock_featured_product.media[1].width >= 165 -%}{{ endrock_featured_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 360 -%}{{ endrock_featured_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 533 -%}{{ endrock_featured_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 720 -%}{{ endrock_featured_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 940 -%}{{ endrock_featured_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 1066 -%}{{ endrock_featured_product.media[1] | img_url: '1066x' }} 1066w,{%- endif -%}
                                                {{ endrock_featured_product.media[1] | img_url: 'master' }} {{ endrock_featured_product.media[1].width }}w
                                                "
                                                src="{{ endrock_featured_product.media[1] | img_url: '533x' }}"
                                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                                alt="{{ endrock_featured_product.media[1].alt | escape }}"
                                                loading="lazy"
                                                class="motion-reduce"
                                                width="{{ endrock_featured_product.media[1].width }}"
                                                height="{{ endrock_featured_product.media[1].height }}"
                                            >
                                            {%- endif -%}
                                        </div>
                                    {% endif %}
    
                                    <div class="custom-product_form">
                                        {%- if endrock_featured_product.selected_or_first_available_variant.available -%}
                                            {%- assign product_form_id = 'quick-add-' | append: section.id | append: endrock_featured_product.id -%}
                                            <product-form data-cart-type="{{ settings.cart_type }}">
                                                {%- form 'product',
                                                    endrock_featured_product,
                                                    id: product_form_id,
                                                    class: 'form',
                                                    novalidate: 'novalidate',
                                                    data-type: 'add-to-cart-form'
                                                -%}
                                                {% comment %} {% render 'loop-subscriptions' type: 'product-widget', product: product %} {% endcomment %}
    
                                                <div class="{{ endrock_featured_product.title| downcase }} products__heading add-toCart">
                                                <input
                                                    type="hidden"
                                                    name="id"
                                                    value="{{ endrock_featured_product.selected_or_first_available_variant.id }}"
                                                    disabled
                                                >
                                                <button
                                                    id="{{ product_form_id }}-submit"
                                                    type="submit"
                                                    name="add"
                                                    class="quick-add__submit cllctnadd"
                                                    aria-haspopup="dialog"
                                                    aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ endrock_featured_product.id }}"
                                                    aria-live="polite"
                                                    {% if endrock_featured_product.selected_or_first_available_variant.available == false %}
                                                    disabled
                                                    {% endif %}
                                                >
                                                    <span class="add-to-cart-message">
                                                    {%- if endrock_featured_product.selected_or_first_available_variant.available -%}
                                                        {{ 'products.product.add_to_cart' | t }}
                                                    {%- else -%}
                                                        {{ 'products.product.sold_out' | t }}
                                                    {%- endif -%}
                                                    </span>
                                                    <span class="added-message hidden">Added</span>
                                                    <span class="sold-out-message hidden">
                                                    {{ 'products.product.sold_out' | t }}
                                                    </span>
                                                    <div class="loading-overlay__spinner hidden">
                                                    <svg
                                                        aria-hidden="true"
                                                        focusable="false"
                                                        role="presentation"
                                                        class="spinner"
                                                        viewBox="0 0 66 66"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                    </svg>
                                                    </div>
                                                </button>
                                                </div>
                                            {%- endform -%}
                                            </product-form>
                                        {%- endif -%}
                                    </div>

                                    <ul class="tabs" data-tab="tab2">
                                        <li class="tab" data-tab="tab1"><span class="spanoriginal"></span>{{ block.settings.featured_product.title }}</li>
                                        <li class="tabb"> <span class="spanimmunity"></span>{{ block.settings.featured_product_two.title }}</li>
                                        <li class="tab" data-tab="tab3"><span class="spanenergy"></span>  {{ block.settings.featured_product_three.title }}</li>
                                        <li class="tab" data-tab="tab4"><span class="spansleep"></span> {{ block.settings.featured_product_four.title }}</li>
                                      </ul>
                                    <a href="{{ endrock_featured_product.url }}">
    
                                    
                                        <div class="title-with-price">
                                            <h3 class="product_title">{{ endrock_featured_product.title }}</h3>
                                            <p class="product-price">{{ endrock_featured_product.price | money | remove: '.00' }}</p>
                                        </div>
                                    </a>
    
                                   
                             
                                </div>
                            {%- endif -%}

                            {%- endfor -%}
                        </div>
                        
                        <div id="tab3" class="content">
                            {%- for block in section.blocks limit: section.settings.products_to_show -%}
                                {%- assign endrock_featured_product = block.settings.featured_product_three -%}
                                {%- assign featured_media_aspect_ratio = endrock_featured_product.featured_media.aspect_ratio -%}
                                
                            
                                {%- if block.settings.featured_product_three != blank -%}
                            <div class="product-list product-list_sw {% if section.settings.swipe_on_mobile %}swiper-slide{% endif %}">
                                    {%- if block.settings.custom_product_image != blank -%}
                                        <div class="custom_product_image" id="block--{{ block.id }}" style="padding-bottom: {{ 100 | divided_by: block.settings.custom_product_image.aspect_ratio }}%">
                                            <a href="{{ endrock_featured_product.url }}">
                                                <img src="{{ block.settings.custom_product_image3 | img_url: 'master' }}"
                                                    class="first_image"
                                                    alt="{{ block.settings.custom_product_image3.alt }}"
                                                    loading="lazy"
                                                >
                                                <img src="{{ block.settings.custom_product_image | img_url: 'master' }}"
                                                    class="hover_image"
                                                    alt="{{ block.settings.custom_product_image.alt }}"
                                                    loading="lazy"
                                                >
                                            </a>
                                           
                                        </div>
                                        
                                    {%- endif -%}
                                    
                                    {% if block.settings.custom_product_image == blank %}
                                        <div
                                            class="media media--transparent media--{{ media_size }} media--hover-effect"
                                            {% if endrock_featured_product.featured_media %}
                                            style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
                                            {% endif %}
                                        >
                                            <img
                                            srcset="
                                                {%- if endrock_featured_product.featured_media.width >= 165 -%}{{ endrock_featured_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 360 -%}{{ endrock_featured_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 533 -%}{{ endrock_featured_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 720 -%}{{ endrock_featured_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 940 -%}{{ endrock_featured_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 1066 -%}{{ endrock_featured_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                                                {{ endrock_featured_product.featured_media | img_url: 'master' }} {{ endrock_featured_product.featured_media.width }}w
                                            "
                                            src="{{ endrock_featured_product.featured_media | img_url: '533x' }}"
                                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                            alt="{{ endrock_featured_product.featured_media.alt | escape }}"
                                            loading="lazy"
                                            class="motion-reduce"
                                            width="{{ endrock_featured_product.featured_media.width }}"
                                            height="{{ endrock_featured_product.featured_media.height }}"
                                            >
    
                                            {%- if endrock_featured_product.media[1] != null and section.settings.show_secondary_image -%}
                                            <img
                                                srcset="
                                                {%- if endrock_featured_product.media[1].width >= 165 -%}{{ endrock_featured_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 360 -%}{{ endrock_featured_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 533 -%}{{ endrock_featured_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 720 -%}{{ endrock_featured_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 940 -%}{{ endrock_featured_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 1066 -%}{{ endrock_featured_product.media[1] | img_url: '1066x' }} 1066w,{%- endif -%}
                                                {{ endrock_featured_product.media[1] | img_url: 'master' }} {{ endrock_featured_product.media[1].width }}w
                                                "
                                                src="{{ endrock_featured_product.media[1] | img_url: '533x' }}"
                                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                                alt="{{ endrock_featured_product.media[1].alt | escape }}"
                                                loading="lazy"
                                                class="motion-reduce"
                                                width="{{ endrock_featured_product.media[1].width }}"
                                                height="{{ endrock_featured_product.media[1].height }}"
                                            >
                                            {%- endif -%}
                                        </div>
                                    {% endif %}
    
                                    <div class="custom-product_form">
                                        {%- if endrock_featured_product.selected_or_first_available_variant.available -%}
                                            {%- assign product_form_id = 'quick-add-' | append: section.id | append: endrock_featured_product.id -%}
                                            <product-form data-cart-type="{{ settings.cart_type }}">
                                                {%- form 'product',
                                                    endrock_featured_product,
                                                    id: product_form_id,
                                                    class: 'form',
                                                    novalidate: 'novalidate',
                                                    data-type: 'add-to-cart-form'
                                                -%}
                                                {% comment %} {% render 'loop-subscriptions' type: 'product-widget', product: product %} {% endcomment %}
    
                                                <div class="{{ endrock_featured_product.title| downcase }} products__heading add-toCart">
                                                <input
                                                    type="hidden"
                                                    name="id"
                                                    value="{{ endrock_featured_product.selected_or_first_available_variant.id }}"
                                                    disabled
                                                >
                                                <button
                                                    id="{{ product_form_id }}-submit"
                                                    type="submit"
                                                    name="add"
                                                    class="quick-add__submit cllctnadd"
                                                    aria-haspopup="dialog"
                                                    aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ endrock_featured_product.id }}"
                                                    aria-live="polite"
                                                    {% if endrock_featured_product.selected_or_first_available_variant.available == false %}
                                                    disabled
                                                    {% endif %}
                                                >
                                                    <span class="add-to-cart-message">
                                                    {%- if endrock_featured_product.selected_or_first_available_variant.available -%}
                                                        {{ 'products.product.add_to_cart' | t }}
                                                    {%- else -%}
                                                        {{ 'products.product.sold_out' | t }}
                                                    {%- endif -%}
                                                    </span>
                                                    <span class="added-message hidden">Added</span>
                                                    <span class="sold-out-message hidden">
                                                    {{ 'products.product.sold_out' | t }}
                                                    </span>
                                                    <div class="loading-overlay__spinner hidden">
                                                    <svg
                                                        aria-hidden="true"
                                                        focusable="false"
                                                        role="presentation"
                                                        class="spinner"
                                                        viewBox="0 0 66 66"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                    </svg>
                                                    </div>
                                                </button>
                                                </div>
                                            {%- endform -%}
                                            </product-form>
                                        {%- endif -%}
                                    </div>
                                    <ul class="tabs" data-tab="tab3">
                                        <li class="tab" data-tab="tab1"><span class="spanoriginal"></span>{{ block.settings.featured_product.title }}</li>
                                        <li class="tab"  data-tab="tab2"> <span class="spanimmunity"></span>{{ block.settings.featured_product_two.title }}</li>
                                        <li class="tabb" ><span class="spanenergy"></span>  {{ block.settings.featured_product_three.title }}</li>
                                        <li class="tab" data-tab="tab4"><span class="spansleep"></span> {{ block.settings.featured_product_four.title }}</li>
                                      </ul>
                                    <a href="{{ endrock_featured_product.url }}">
    
                                    
                                        <div class="title-with-price">
                                            <h3 class="product_title">{{ endrock_featured_product.title }}</h3>
                                            <p class="product-price">{{ endrock_featured_product.price | money | remove: '.00' }}</p>
                                        </div>
                                    </a>
    
                                   
                                </div>                                            {% endif %}

                            {%- endfor -%}
                        </div>
                        
                        <div id="tab4" class="content">
                            {%- for block in section.blocks limit: section.settings.products_to_show -%}
                                {%- assign endrock_featured_product = block.settings.featured_product_four -%}
                                {%- assign featured_media_aspect_ratio = endrock_featured_product.featured_media.aspect_ratio -%}
                                
                            
                                {%- if block.settings.featured_product_four != blank -%}
                            <div class="product-list product-list_sw {% if section.settings.swipe_on_mobile %}swiper-slide{% endif %}">
                                    {%- if block.settings.custom_product_image != blank -%}
                                        <div class="custom_product_image" id="block--{{ block.id }}" style="padding-bottom: {{ 100 | divided_by: block.settings.custom_product_image.aspect_ratio }}%">
                                            <a href="{{ endrock_featured_product.url }}">
                                                <img src="{{ block.settings.custom_product_image4 | img_url: 'master' }}"
                                                    class="first_image"
                                                    alt="{{ block.settings.custom_product_image4.alt }}"
                                                    loading="lazy"
                                                >
                                                <img src="{{ block.settings.custom_product_image | img_url: 'master' }}"
                                                    class="hover_image"
                                                    alt="{{ block.settings.custom_product_image.alt }}"
                                                    loading="lazy"
                                                >
                                            </a>
                                            
                                        </div>
                                        
                                    {%- endif -%}
                                    
                                    {% if block.settings.custom_product_image == blank %}
                                        <div
                                            class="media media--transparent media--{{ media_size }} media--hover-effect"
                                            {% if endrock_featured_product.featured_media %}
                                            style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
                                            {% endif %}
                                        >
                                            <img
                                            srcset="
                                                {%- if endrock_featured_product.featured_media.width >= 165 -%}{{ endrock_featured_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 360 -%}{{ endrock_featured_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 533 -%}{{ endrock_featured_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 720 -%}{{ endrock_featured_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 940 -%}{{ endrock_featured_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                                                {%- if endrock_featured_product.featured_media.width >= 1066 -%}{{ endrock_featured_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                                                {{ endrock_featured_product.featured_media | img_url: 'master' }} {{ endrock_featured_product.featured_media.width }}w
                                            "
                                            src="{{ endrock_featured_product.featured_media | img_url: '533x' }}"
                                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                            alt="{{ endrock_featured_product.featured_media.alt | escape }}"
                                            loading="lazy"
                                            class="motion-reduce"
                                            width="{{ endrock_featured_product.featured_media.width }}"
                                            height="{{ endrock_featured_product.featured_media.height }}"
                                            >
    
                                            {%- if endrock_featured_product.media[1] != null and section.settings.show_secondary_image -%}
                                            <img
                                                srcset="
                                                {%- if endrock_featured_product.media[1].width >= 165 -%}{{ endrock_featured_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 360 -%}{{ endrock_featured_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 533 -%}{{ endrock_featured_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 720 -%}{{ endrock_featured_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 940 -%}{{ endrock_featured_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                                                {%- if endrock_featured_product.media[1].width >= 1066 -%}{{ endrock_featured_product.media[1] | img_url: '1066x' }} 1066w,{%- endif -%}
                                                {{ endrock_featured_product.media[1] | img_url: 'master' }} {{ endrock_featured_product.media[1].width }}w
                                                "
                                                src="{{ endrock_featured_product.media[1] | img_url: '533x' }}"
                                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                                alt="{{ endrock_featured_product.media[1].alt | escape }}"
                                                loading="lazy"
                                                class="motion-reduce"
                                                width="{{ endrock_featured_product.media[1].width }}"
                                                height="{{ endrock_featured_product.media[1].height }}"
                                            >
                                            {%- endif -%}
                                        </div>
                                    {% endif %}
    
                                    <div class="custom-product_form">
                                        {%- if endrock_featured_product.selected_or_first_available_variant.available -%}
                                            {%- assign product_form_id = 'quick-add-' | append: section.id | append: endrock_featured_product.id -%}
                                            <product-form data-cart-type="{{ settings.cart_type }}">
                                                {%- form 'product',
                                                    endrock_featured_product,
                                                    id: product_form_id,
                                                    class: 'form',
                                                    novalidate: 'novalidate',
                                                    data-type: 'add-to-cart-form'
                                                -%}
                                                {% comment %} {% render 'loop-subscriptions' type: 'product-widget', product: product %} {% endcomment %}
    
                                                <div class="{{ endrock_featured_product.title| downcase }} products__heading add-toCart">
                                                <input
                                                    type="hidden"
                                                    name="id"
                                                    value="{{ endrock_featured_product.selected_or_first_available_variant.id }}"
                                                    disabled
                                                >
                                                <button
                                                    id="{{ product_form_id }}-submit"
                                                    type="submit"
                                                    name="add"
                                                    class="quick-add__submit cllctnadd"
                                                    aria-haspopup="dialog"
                                                    aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ endrock_featured_product.id }}"
                                                    aria-live="polite"
                                                    {% if endrock_featured_product.selected_or_first_available_variant.available == false %}
                                                    disabled
                                                    {% endif %}
                                                >
                                                    <span class="add-to-cart-message">
                                                    {%- if endrock_featured_product.selected_or_first_available_variant.available -%}
                                                        {{ 'products.product.add_to_cart' | t }}
                                                    {%- else -%}
                                                        {{ 'products.product.sold_out' | t }}
                                                    {%- endif -%}
                                                    </span>
                                                    <span class="added-message hidden">Added</span>
                                                    <span class="sold-out-message hidden">
                                                    {{ 'products.product.sold_out' | t }}
                                                    </span>
                                                    <div class="loading-overlay__spinner hidden">
                                                    <svg
                                                        aria-hidden="true"
                                                        focusable="false"
                                                        role="presentation"
                                                        class="spinner"
                                                        viewBox="0 0 66 66"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                    </svg>
                                                    </div>
                                                </button>
                                                </div>
                                            {%- endform -%}
                                            </product-form>
                                        {%- endif -%}
                                    </div>

                                    <ul class="tabs" data-tab="tab4">
                                        <li class="tab" data-tab="tab1"><span class="spanoriginal"></span>{{ block.settings.featured_product.title }}</li>
                                        <li class="tab"  data-tab="tab2"> <span class="spanimmunity"></span>{{ block.settings.featured_product_two.title }}</li>
                                        <li class="tab" data-tab="tab3"><span class="spanenergy"></span>  {{ block.settings.featured_product_three.title }}</li>
                                        <li class="tabb" ><span class="spansleep"></span> {{ block.settings.featured_product_four.title }}</li>
                                      </ul>
                                    <a href="{{ endrock_featured_product.url }}">
    
                                    
                                        <div class="title-with-price">
                                            <h3 class="product_title">{{ endrock_featured_product.title }}</h3>
                                            <p class="product-price">{{ endrock_featured_product.price | money | remove: '.00' }}</p>
                                        </div>
                                    </a>
    
                                   
                                </div>                                            {% endif %}

                            {%- endfor -%}
                        </div>
                        
                        <script>
                          var tabsLists = document.querySelectorAll('.tabs');
                          tabsLists.forEach(function(tabsList) {
                            tabsList.addEventListener('click', function(event) {
                              if (event.target.classList.contains('tab')) {
                                var tabId = event.target.getAttribute('data-tab');
                                openTab(tabId);
                              }
                            });
                          });
                        
                          function openTab(tabId) {
                            // Ocultar todos los contenidos
                            var contents = document.querySelectorAll('.content');
                            contents.forEach(function(content) {
                              content.classList.remove('active');
                            });
                        
                            // Mostrar el contenido de la pestaa seleccionada
                            var selectedTab = document.getElementById(tabId);
                            selectedTab.classList.add('active');
                          }
                        </script>
                        















                        {%- if section.settings.image_card_two -%}
                            <div class="imagencontainer">

                            <div class="image-info">

                            <h3 class="title_info2">{{ section.settings.card_two_title }}</h3>
                            <a class="link_info" href="{{ section.settings.card_link_two }}">{{ section.settings.card_two_subtitle }}</a>
                            </div>
                                <img class="imagencard" src="{{ section.settings.image_card_two | img_url: 'master' }}" alt="{{ section.settings.card_two_title }}">
                               
                            </div>
                        {%- endif -%}


                        {%- if section.settings.image_card_three -%}
                            <div class=" cardthree imagencontainerfinal">

                            <div class="image-info2">

                            <div class="imagen-info-text imagencontainerfinal">

                            <h3 class="title_info3">{{ section.settings.card_three_title }}</h3>

                            <div class="text_three_">{{ section.settings.card_three_subtitle }}</div>
                            <br>
                            <a class="link_info3" href="{{ section.settings.card_link_three }}">Learn more</a>
                            </div>
                                <img class="imagencard" src="{{ section.settings.image_card_three | img_url: 'master' }}" alt="{{ section.settings.card_three_title }}">
                               
                            </div>   </div>

                            <div class="imagencontainer">

                            </div>

                        {%- endif -%}


                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>


{% javascript %}
    class RotatingWords extends HTMLElement {
    constructor() {
        super();
        this.words = this.innerText.split(',');
        this.innerText = '';
        this.classList.remove('hidden');
        this.currentWord = 0;
        this.wordElement = document.createElement('span');
        this.wordElement.classList.add('heading__rotating-words-word');
        this.appendChild(this.wordElement);
        this.wordElement.innerText = this.words[this.currentWord];
        this.wordElement.classList.remove('heading__rotating-words-word--hide', 'heading__rotating-words-word--show');
        this.currentWord++;
        this.interval = setInterval(() => {
        this.wordElement.classList.add('heading__rotating-words-word--hide');
        setTimeout(() => {
            this.wordElement.classList.add('heading__rotating-words-word--show');
            setTimeout(() => {
            this.wordElement.innerText = this.words[this.currentWord];
            this.wordElement.classList.remove(
                'heading__rotating-words-word--hide',
                'heading__rotating-words-word--show'
            );
            this.currentWord++;
            if (this.currentWord >= this.words.length) {
                this.currentWord = 0;
            }
            }, 150);
        }, 150);
        }, 3500);
    }
    disconnectedCallback() {
        clearInterval(this.interval);
    }
    }
    customElements.define('rotating-words', RotatingWords);

    if (window.innerWidth < 768) {
        const productSwiper = new Swiper('.endrock-featured-collection .swiper-container', {
            direction: 'horizontal',
            slidesPerView: 1,
            loop: true
        });
        function handleFocus(e, i) {
            productSwiper.slideTo(i);
        }
        const productSlides = document.querySelectorAll('.endrock-featured-collection .swiper-container .swiper-slide');
        productSlides.forEach((slide, i) => slide.addEventListener('focusin', (e) => handleFocus(e, i)));
    }


    
{% endjavascript %}
{% schema %}
{
  "name": "Endrock Collection",
  "tag": "section",
  "class": "endrock-feature-collection",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
        "type": "text",
        "id": "heading",
        "label":"Heading"
    },

    {
                "type": "text",
                "id": "id_section_pivot",
                "label": "Id seccion"
            },

    {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top",
        "min": 0,
        "max": 100,
        "unit": "px",
        "step": 5,
        "default": 50
    },
    {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "min": 0,
        "max": 100,
        "unit": "px",
        "step": 5,
        "default": 50
    },
    {
        "type": "range",
        "id": "mobile_padding_top",
        "label": "Mobile Padding Top",
        "min": 0,
        "max": 100,
        "unit": "px",
        "step": 5,
        "default": 50
    },
    {
        "type": "range",
        "id": "mobile_padding_bottom",
        "label": "Mobile Padding Bottom",
        "min": 0,
        "max": 100,
        "unit": "px",
        "step": 5,
        "default": 50
    },
    {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width"
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    }   ,
    
    {
                "type": "image_picker",
                "id":"image_card_one",
                "label": "Custom Product 1 Image"
            }
            ,     {
                "type": "text",
                "id": "card_one_title",
                "label": "Card One Title"
            }
            ,     {
                "type": "text",
                "id": "card_one_subtitle",
                "label": "Card One subTitle"
            },
            {
                "type": "url",
                "id": "card_link_one",
                "label": "Card Link"
            },
    
    {
                "type": "image_picker",
                "id":"image_card_two",
                "label": "Custom Product 2 Image"
            }
            ,     {
                "type": "text",
                "id": "card_two_title",
                "label": "Card two Title"
            }
            ,     {
                "type": "text",
                "id": "card_two_subtitle",
                "label": "Card two subTitle"
            },
            {
                "type": "url",
                "id": "card_link_two",
                "label": "Card Link 2"
            },
    
    {
                "type": "image_picker",
                "id":"image_card_three",
                "label": "Custom Product 3 Image"
            }
            ,     {
                "type": "text",
                "id": "card_three_title",
                "label": "Card three Title"
            }
            ,     {
                "type": "text",
                "id": "card_three_subtitle",
                "label": "Card three subTitle"
            },
            {
                "type": "url",
                "id": "card_link_three",
                "label": "Card Link 3"
            }
  ],
  "blocks": [
    {
        "type": "product",
        "name": "product",
        "settings": [
            {
                "type": "product",
                "id": "featured_product",
                "label": "Featured Product"
            },
            {
                "type": "product",
                "id": "featured_product_two",
                "label": "Featured Product two"
            },
            {
                "type": "product",
                "id": "featured_product_three",
                "label": "Featured Product three"
            },
            {
                "type": "product",
                "id": "featured_product_four",
                "label": "Featured Product"
            },
            {
                "type": "image_picker",
                "id":"custom_product_image",
                "label": "Custom Product Image"
            },
            {
                "type": "image_picker",
                "id":"custom_product_image2",
                "label": "Custom Product Image"
            },
            {
                "type": "image_picker",
                "id":"custom_product_image3",
                "label": "Custom Product Image"
            },
            {
                "type": "image_picker",
                "id":"custom_product_image4",
                "label": "Custom Product Image"
            },
            {
                "type": "image_picker",
                "id": "hover_image",
                "label": "Hover Image"
            },
            {
                "type": "richtext",
                "id": "info_1",
                "label": "Product Info 1"
            },
            {
                "type": "text",
                "id": "info_1_top_position",
                "label": "Product Info 1 Top Position"
            },
            {
                "type": "text",
                "id": "info_1_right_position",
                "label": "Product Info 1 Right Position"
            },
            {
                "type": "text",
                "id": "info_1_left_position",
                "label": "Product Info 1 Left Position"
            },
            {
                "type": "text",
                "id": "info_1_bottom_position",
                "label": "Product Info 1 Bottom Position"
            },
            {
                "type": "richtext",
                "id": "info_2",
                "label": "Product Info 2"
            },
            {
                "type": "text",
                "id": "info_2_top_position",
                "label": "Product Info 2 Top Position"
            },
            {
                "type": "text",
                "id": "info_2_right_position",
                "label": "Product Info 2 Right Position"
            },
            {
                "type": "text",
                "id": "info_2_left_position",
                "label": "Product Info 2 Left Position"
            },
            {
                "type": "text",
                "id": "info_2_bottom_position",
                "label": "Product Info 2 Bottom Position"
            },
            {
                "type": "richtext",
                "id": "info_3",
                "label": "Product Info 3"
            },
            {
                "type": "text",
                "id": "info_3_top_position",
                "label": "Product Info 3 Top Position"
            },
            {
                "type": "text",
                "id": "info_3_right_position",
                "label": "Product Info 3 Right Position"
            },
            {
                "type": "text",
                "id": "info_3_left_position",
                "label": "Product Info 3 Left Position"
            },
            {
                "type": "text",
                "id": "info_3_bottom_position",
                "label": "Product Info 3 Bottom Position"
            }
        ]
    }
  ],
  
  "presets": [
    {
      "name": "Endrock Collections"
    }
  ]
}
{% endschema %}