<div class="base-ingredients-container">
 <div class="base-ingredients-common">
   <div class="base-ingredients-image-text">
     {{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
        <div class="image-with-text {% if section.settings.full_width %}image-with-text--full-width{% else %}page-width{% endif %} color-scheme-{{ section.settings.color_scheme }}">
          <div class="image-with-text__grid color-{{ section.settings.color_scheme }} grid grid--gapless grid--1-col grid--2-col-tablet gradient{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
            <div class="grid__item">
              <div class="image-with-text__media image-with-text__media--{{ section.settings.height }} {% if section.settings.image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
                {% if section.settings.height == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}
              >
                {%- if section.settings.videoo != blank -%}
                 <video class="videourl" muted autoplay loop playsinline poster="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Duo_Website__WEB_DEV_-_5.png?v=1640004090">
                    <source src="{{section.settings.videoo}}" type="video/mp4">     
                 </video>           
                {%- else -%}
                 <img
                    srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                      {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                      {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                      {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                      {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
                      {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                      {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
                    src="{{ section.settings.image | img_url: '1500x' }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ section.settings.image.alt | escape }}"
                    loading="lazy"
                    width="{{ section.settings.image.width }}"
                    height="{{ section.settings.image.height }}"
                  >      

                {%- endif -%}
              </div>
              <div class="link_btn">
                  {%- for block in section.blocks -%}
                  {% case block.type %}
                    {%- when 'button' -%}
                      {%- if block.settings.button_label != blank -%}
                      <div class="link_button-details">
                        <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="text_underline{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %} sec_btn-mobile" {{ block.shopify_attributes }}>
                          {{ block.settings.button_label | escape }}
                        </a>
                      </div>  
                      {%- endif -%}
                  {%- endcase -%}
                {%- endfor -%}

              </div>
            </div>
            <div class="grid__item">
              <div class="image-with-text__content image-with-text__content--{{ section.settings.height }}">
                {%- for block in section.blocks -%}
                  {% case block.type %}
                    {%- when 'heading' -%}
                      <h2 class="image-with-text__heading h1" {{ block.shopify_attributes }}>
                        {{ block.settings.heading | escape }}
                      </h2>
                     <h2 class="image-with-text__heading h2" {{ block.shopify_attributes }}>
                        {{ block.settings.heading2 | escape }}
                      </h2>
                     <h2 class="image-with-text__heading h3" {{ block.shopify_attributes }}>
                        {{ block.settings.heading3 | escape }}
                      </h2>
                    {%- when 'text' -%}
                      <div class="image-with-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>

                    {%comment%}{%- when 'button' -%}
                      {%- if block.settings.button_label != blank -%}
                      <div class="link_button-page">	
                        <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="text_underline{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
                          {{ block.settings.button_label | escape }}
                        </a>
                      </div>  
                      {%- endif -%}{%endcomment%}

                  {%- endcase -%}
                {%- endfor -%}

                <div class="link_section">
                {%- for block in section.blocks -%}
                  {% case block.type %}
                    {%- when 'button' -%}
                      {%- if block.settings.button_label != blank -%}
                      <div class="link_button-page">	
                        <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="text_underline{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
                          {{ block.settings.button_label | escape }}
                        </a>
                      </div>  
                      {%- endif -%}
                  {%- endcase -%}
                {%- endfor -%}
                </div>  

              </div>
            </div>
          </div>
        </div>
        <style>video {
          height: auto;
          width: 100% !important;
          border:5px solid #000;
        }
        </style>
     
   </div> 
   <div class="block-title">
     
     
   </div>  
   
 </div>  
</div>


{% schema %}
  {
    "name": "Base Ingerdients",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Base Ingredients",
        "label": "Base Ingerdients"
      }     
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Ingredient Block",
        "settings": [
          {
            "type": "text",
            "id": "title1",
            "default": "Functional",
            "label": " Functions "
          }
		  
			
        ]

	  }
	],

	"presets": [
    {
      "name": "Base Ingerdients",
      "blocks": [
        {
          "type": "text"
		  
        }
      ]
    }
  ]	
  	


  }

{% endschema %}

