{{ 'section-contact-info.css' | asset_url | stylesheet_tag }}

<style>
    #section--{{ section.id }}{
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        background: {{ section.settings.bg_color }};
    }

    @media (max-width: 767px){
        #section--{{ section.id }}{
            padding-top: {{ section.settings.mobile_padding_top }}px;
            padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
        }
    }
</style>

<div id="section--{{ section.id }}">
    <div class="contact-info {% if section.settings.full_width %}full-width{% else %}page-width{% endif %}">
        <div class="title">{{ section.settings.title }}</div>
        <div class="contact-info__wrapper">
            {% for block in section.blocks %}
                <div class="contact-info__item">
                    <h3 class="heading">{{ block.settings.heading }}</h3>
                    <a href="{{ block.settings.btn_link }}" class="btn">{{ block.settings.btn_label }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
    {
        "name": "Contact Info",
        "settings": [
            {
                "type": "range",
                "id": "padding_top",
                "label": "Padding Top",
                "min": 0,
                "max": 100,
                "unit": "px",
                "step": 5,
                "default": 50
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "Padding Bottom",
                "min": 0,
                "max": 100,
                "unit": "px",
                "step": 5,
                "default": 50
            },
            {
                "type": "range",
                "id": "mobile_padding_top",
                "label": "Mobile Padding Top",
                "min": 0,
                "max": 100,
                "unit": "px",
                "step": 5,
                "default": 50
            },
            {
                "type": "range",
                "id": "mobile_padding_bottom",
                "label": "Mobile Padding Bottom",
                "min": 0,
                "max": 100,
                "unit": "px",
                "step": 5,
                "default": 50
            },
            {
                "type": "checkbox",
                "id": "full_width",
                "label": "Full Width"
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "richtext",
                "id": "title",
                "label": "Title"
            }
        ],
        "blocks": [
            {
                "type": "block",
                "name": "contact-ino",
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading"
                    },
                    {
                        "type": "url",
                        "id": "btn_link",
                        "label": "Button Link"
                    },
                    {
                        "type": "text",
                        "id": "btn_label",
                        "label": "Button Label"
                    }
                ]
            }
        ],
        "presets":[
            {
                "name":"Contact Info"
            }
        ]
        
    }
{% endschema %}