{{ 'section-industry-icons.css' | asset_url | stylesheet_tag }}

<style>
    #section--{{ section.id }}{
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        border-top: 1px solid #ffffff;
        background: {{ section.settings.bg_color }};
    }

    @media (max-width: 767px){
        #section--{{ section.id }}{
            padding-top: {{ section.settings.mobile_padding_top }}px;
            padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
        }
    }
</style>

<div id="section--{{ section.id }}">
    <div class="industry-icons {% if section.settings.full_width %}full-width{% else %}page-width{% endif %}">
        <div class="industry-icons_container">
            <p class="heading only--desktop">{{ section.settings.heading }}</p>
            <p class="mobile_heading only--mobile">{{ section.settings.mobile_heading }}</p>
            <div class="icons-wrapper only--desktop">
                {%- for block in section.blocks -%}
                    {%- if block.settings.image != blank -%}
                        <div class="icon-list">
                            <a href="{{ block.settings.link }}">
                                <img
                                src="{{ block.settings.image | img_url: 'medium' }}"
                                alt="{{ block.settings.image.alt }}"
                                loading="lazy">
                            </a>
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>
            <div class="swiper-container only--mobile">
                <div class="icons-mobile__wrapper swiper-wrapper">
                    {%- for block in section.blocks -%}
                        {%- if block.settings.image != blank -%}
                            <div class="icon-mobile__list swiper-slide">
                                <a href="{{ block.settings.link }}">
                                    <img
                                    src="{{ block.settings.image | img_url: 'medium' }}"
                                    alt="{{ block.settings.image.alt }}"
                                    loading="lazy">
                                </a>
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const iconSwiper = new Swiper('.industry-icons_container .swiper-container', {
        direction: 'horizontal',
        slidesPerView: 2,
        loop: true,
        spaceBetween: 36,
        centeredSlides: true,
        autoplay: {
            delay: 1000,
            disableOnInteraction: true,
        },
    });

    function handleFocus(e, i) {
        iconSliders.slideTo(i);
    }

    const iconSliders = document.querySelectorAll('.industry-icons_container .swiper-container .swiper-slide');
    iconSliders.forEach((slide, i) => slide.addEventListener('focusin', (e) => handleFocus(e, i)));

</script>

{% schema %}
    {
        "name": "Industry Icons",
        "class": "endrock-industry-icons",
        "settings": [
            {
                "type": "range",
                "id": "padding_top",
                "label": "Padding Top",
                "min": 0,
                "max": 100,
                "unit": "px",
                "step": 5,
                "default": 50
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "Padding Bottom",
                "min": 0,
                "max": 100,
                "unit": "px",
                "step": 5,
                "default": 50
            },
            {
                "type": "range",
                "id": "mobile_padding_top",
                "label": "Mobile Padding Top",
                "min": 0,
                "max": 100,
                "unit": "px",
                "step": 5,
                "default": 50
            },
            {
                "type": "range",
                "id": "mobile_padding_bottom",
                "label": "Mobile Padding Bottom",
                "min": 0,
                "max": 100,
                "unit": "px",
                "step": 5,
                "default": 50
            },
            {
                "type": "checkbox",
                "id": "full_width",
                "label": "Full Width"
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "mobile_heading",
                "label": "Mobile Heading"
            }
        ],
        "blocks": [
            {
                "type": "icon",
                "name": "Icon",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "image"
                    },
                    {
                        "type": "html",
                        "id": "icon",
                        "label": "icon"
                    }
                ]
            }
        ],
        "presets":[
            {
                "name":"Industry Icons"
            }
        ]
        
    }
{% endschema %}
