{{ 'section-endrock-featured-collection.css' | asset_url | stylesheet_tag }}
<style>
    #section--{{ section.id }}{
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        background: {{ section.settings.bg_color }};
    }

    {% for block in section.blocks %}
        #block--{{ block.id }} .product_info_1{
            position: absolute;
            top: {{ block.settings.info_1_top_position }};
            left: {{ block.settings.info_1_left_position }};
            bottom: {{ block.settings.info_1_bottom_position }};
            right: {{ block.settings.info_1_right_position }};
        }

        #block--{{ block.id }} .product_info_2{
            position: absolute;
            top: {{ block.settings.info_2_top_position }};
            left: {{ block.settings.info_2_left_position }};
            bottom: {{ block.settings.info_2_bottom_position }};
            right: {{ block.settings.info_2_right_position }};
        }

        #block--{{ block.id }} .product_info_3{
            position: absolute;
            top: {{ block.settings.info_3_top_position }};
            left: {{ block.settings.info_3_left_position }};
            bottom: {{ block.settings.info_3_bottom_position }};
            right: {{ block.settings.info_3_right_position }};
        }

        {%- if forloop.index == 1 -%}
            #block--{{ block.id }} .product_info_1 p:after, #block--{{ block.id }} .product_info_2 p:after{
                content: "";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCA0NCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Ikdyb3VwIDQ1NyI+CjxjaXJjbGUgaWQ9IkVsbGlwc2UgNzYiIGN4PSIzMy41Mzc3IiBjeT0iOS41Mzc1NiIgcj0iNy4zNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTE5LjA1NTggMzMuNTM3NyA5LjUzNzU2KSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIwLjMiLz4KPHBhdGggaWQ9IlZlY3RvciAzMyIgZD0iTTI2IDlIMCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIwLjMiLz4KPC9nPgo8L3N2Zz4K");
                background-repeat: no-repeat;
                background-size: cover;
                width: 43px;
                background-position: center;
                display: block;
                height: 19px;
                position: absolute;
                top: -2.5px;
                right: -16px;
            }

            #block--{{ block.id }} .product_info_2 p:after{
                right: -46px !important;
            }
        {%- endif -%}

        {%- if forloop.index ==2  -%}
            #block--{{ block.id }} .product_info_1 p:after, #block--{{ block.id }} .product_info_3 p:after{
                content: "";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzgiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCA3OCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iNjcuNTM3NyIgY3k9IjkuNTM3NTYiIHI9IjcuMzUiIHRyYW5zZm9ybT0icm90YXRlKC0xOS4wNTU4IDY3LjUzNzcgOS41Mzc1NikiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMC4zIi8+CjxwYXRoIGQ9Ik02MCA5SDAiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMC4zIi8+Cjwvc3ZnPgo=");
                background-repeat: no-repeat;
                background-size: cover;
                width: 73px;
                background-position: center;
                display: block;
                height: 19px;
                position: absolute;
                top: -2.5px;   
                right: -46px;
            }

            #block--{{ block.id }} .product_info_3 p:after{
                right: -11px !important;
            }

        {%- endif -%}

        {%- if forloop.index == 3  -%}
            #block--{{ block.id }} .product_info_1 p:after, #block--{{ block.id }} .product_info_3 p:after{
                content: "";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzgiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCA3OCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iNjcuNTM3NyIgY3k9IjkuNTM3NTYiIHI9IjcuMzUiIHRyYW5zZm9ybT0icm90YXRlKC0xOS4wNTU4IDY3LjUzNzcgOS41Mzc1NikiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMC4zIi8+CjxwYXRoIGQ9Ik02MCA5SDAiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMC4zIi8+Cjwvc3ZnPgo=");
                background-repeat: no-repeat;
                background-size: cover;
                width: 73px;
                background-position: center;
                display: block;
                height: 19px;
                position: absolute;
                top: -2.5px;   
                right: -46px;
            }

            #block--{{ block.id }} .product_info_3 p:before{
                content: "";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzgiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCA3OCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iNjcuNTM3NyIgY3k9IjkuNTM3NTYiIHI9IjcuMzUiIHRyYW5zZm9ybT0icm90YXRlKC0xOS4wNTU4IDY3LjUzNzcgOS41Mzc1NikiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMC4zIi8+CjxwYXRoIGQ9Ik02MCA5SDAiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMC4zIi8+Cjwvc3ZnPgo=");
                background-repeat: no-repeat;
                background-size: cover;
                width: 73px;
                background-position: center;
                display: block;
                height: 19px;
                position: absolute;
                top: -110%;
                left: -25%;
                transform: rotate(-90deg);
            }

            #block--{{ block.id }} .product_info_3 p:after{
                right: -62px !important;
            }
        {%- endif -%}

        {%- if forloop.index == 4  -%}
            #block--{{ block.id }} .product_info_1 p:after, #block--{{ block.id }} .product_info_3 p:after{
                content: "";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCA0NCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Ikdyb3VwIDQ1NyI+CjxjaXJjbGUgaWQ9IkVsbGlwc2UgNzYiIGN4PSIzMy41Mzc3IiBjeT0iOS41Mzc1NiIgcj0iNy4zNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTE5LjA1NTggMzMuNTM3NyA5LjUzNzU2KSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIwLjMiLz4KPHBhdGggaWQ9IlZlY3RvciAzMyIgZD0iTTI2IDlIMCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIwLjMiLz4KPC9nPgo8L3N2Zz4K");
                background-repeat: no-repeat;
                background-size: cover;
                width: 43px;
                background-position: center;
                display: block;
                height: 19px;
                position: absolute;
                top: -2.5px;   
                right: -46px;
            }

            #block--{{ block.id }} .product_info_3 p:before{
                content: "";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCA0NCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Ikdyb3VwIDQ1NyI+CjxjaXJjbGUgaWQ9IkVsbGlwc2UgNzYiIGN4PSIzMy41Mzc3IiBjeT0iOS41Mzc1NiIgcj0iNy4zNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTE5LjA1NTggMzMuNTM3NyA5LjUzNzU2KSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIwLjMiLz4KPHBhdGggaWQ9IlZlY3RvciAzMyIgZD0iTTI2IDlIMCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIwLjMiLz4KPC9nPgo8L3N2Zz4K");
                background-repeat: no-repeat;
                background-size: cover;
                width: 43px;
                background-position: center;
                display: block;
                height: 19px;
                position: absolute;
                top: -80%;
                left: 25%;
                transform: rotate(-90deg);
            }

            #block--{{ block.id }} .product_info_3 p:after{
                right: -52px !important;
            }
        {%- endif -%}
    {% endfor %}

    @media (max-width: 767px){
        #section--{{ section.id }}{
            padding-top: {{ section.settings.mobile_padding_top }}px;
            padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
            background: #ffffff;
        }
    }
</style>

<div id="section--{{ section.id }}">
    <div class="endrock-featured-collection {% if section.settings.full_width %}full-width{% else %}page-width{% endif %}">
        <div class="endrock-featured-collection__container">
            <div class="endrock-featured-collection__wrapper">
                <h2 class="heading">{{ section.settings.heading }}</h2>
                <div class="swiper-container">
                    <div class="products_wrapper {% if section.settings.swipe_on_mobile %}swiper-wrapper{% endif %}">
                        {%- for block in section.blocks limit: section.settings.products_to_show -%}
                            {%- assign endrock_featured_product = block.settings.featured_product -%}
                            {%- assign featured_media_aspect_ratio = endrock_featured_product.featured_media.aspect_ratio -%}
                            <div class="product-list  {% if section.settings.swipe_on_mobile %}swiper-slide{% endif %}">
                                {%- if block.settings.custom_product_image != blank -%}
                                    <div class="custom_product_image" id="block--{{ block.id }}" style="padding-bottom: {{ 100 | divided_by: block.settings.custom_product_image.aspect_ratio }}%">
                                      <a href="{{  endrock_featured_product.url }}">
                                        <img
                                          src="{{ block.settings.custom_product_image | img_url: 'master' }}"
                                          class="first_image"
                                          alt="{{ block.settings.custom_product_image.alt }}"
                                          loading="lazy"
                                        />
                                        <img
                                          src="{{ block.settings.hover_image | img_url: 'master' }}"
                                          class="hover_image"
                                          alt="{{ block.settings.hover_image.alt }}"
                                          loading="lazy"
                                        />
                                      </a>
                                      <div class="product_info_1 product_info">{{ block.settings.info_1 }}</div>
                                      <div class="product_info_2 product_info">{{ block.settings.info_2 }}</div>
                                      <div class="product_info_3 product_info">{{ block.settings.info_3 }}</div>
                                    </div>
                                {%- endif -%}
                                
                                {% if block.settings.custom_product_image == blank %}
                                    <div
                                        class="media media--transparent media--{{ media_size }} media--hover-effect"
                                        {% if endrock_featured_product.featured_media %}
                                        style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
                                        {% endif %}
                                    >
                                        <img
                                        srcset="
                                            {%- if endrock_featured_product.featured_media.width >= 165 -%}{{ endrock_featured_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                                            {%- if endrock_featured_product.featured_media.width >= 360 -%}{{ endrock_featured_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                                            {%- if endrock_featured_product.featured_media.width >= 533 -%}{{ endrock_featured_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                                            {%- if endrock_featured_product.featured_media.width >= 720 -%}{{ endrock_featured_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                                            {%- if endrock_featured_product.featured_media.width >= 940 -%}{{ endrock_featured_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                                            {%- if endrock_featured_product.featured_media.width >= 1066 -%}{{ endrock_featured_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                                            {{ endrock_featured_product.featured_media | img_url: 'master' }} {{ endrock_featured_product.featured_media.width }}w
                                        "
                                        src="{{ endrock_featured_product.featured_media | img_url: '533x' }}"
                                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                        alt="{{ endrock_featured_product.featured_media.alt | escape }}"
                                        loading="lazy"
                                        class="motion-reduce"
                                        width="{{ endrock_featured_product.featured_media.width }}"
                                        height="{{ endrock_featured_product.featured_media.height }}"
                                        >

                                        {%- if endrock_featured_product.media[1] != null and section.settings.show_secondary_image -%}
                                        <img
                                            srcset="
                                            {%- if endrock_featured_product.media[1].width >= 165 -%}{{ endrock_featured_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                                            {%- if endrock_featured_product.media[1].width >= 360 -%}{{ endrock_featured_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                                            {%- if endrock_featured_product.media[1].width >= 533 -%}{{ endrock_featured_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                                            {%- if endrock_featured_product.media[1].width >= 720 -%}{{ endrock_featured_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                                            {%- if endrock_featured_product.media[1].width >= 940 -%}{{ endrock_featured_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                                            {%- if endrock_featured_product.media[1].width >= 1066 -%}{{ endrock_featured_product.media[1] | img_url: '1066x' }} 1066w,{%- endif -%}
                                            {{ endrock_featured_product.media[1] | img_url: 'master' }} {{ endrock_featured_product.media[1].width }}w
                                            "
                                            src="{{ endrock_featured_product.media[1] | img_url: '533x' }}"
                                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                            alt="{{ endrock_featured_product.media[1].alt | escape }}"
                                            loading="lazy"
                                            class="motion-reduce"
                                            width="{{ endrock_featured_product.media[1].width }}"
                                            height="{{ endrock_featured_product.media[1].height }}"
                                        >
                                        {%- endif -%}
                                    </div>
                                {% endif %}

                                <div class="custom-product_form">

                                    <style>
                                        .button.button-custom.button--primary.product-{{ endrock_featured_product.title | handleize }}:hover {
                                            background: {{ endrock_featured_product.metafields.duo.product_color  }};
                                            color: white;
                                            border: 0px;
                                        }
                                    </style>
                                    {%- if endrock_featured_product.selected_or_first_available_variant.available -%}
                                      {%- assign variant_current = endrock_featured_product.selected_or_first_available_variant -%}
                                      {%- for variant_metafield in endrock_featured_product.variants -%}
                                        {%- if variant_metafield.metafields.variant.select_default_card_product.value -%}
                                          {%- assign variant_current = variant_metafield -%}
                                        {%- endif -%}
                                      {%- endfor -%}

                                        {%- assign product_form_id = 'quick-add-' | append: section.id | append: endrock_featured_product.id -%}
                                        <product-form data-cart-type="{{ settings.cart_type }}">
                                            {%- form 'product',
                                                endrock_featured_product,
                                                id: product_form_id,
                                                class: 'form',
                                                novalidate: 'novalidate',
                                                data-type: 'add-to-cart-form'
                                            -%}
                                            {% comment %} {% render 'loop-subscriptions' type: 'product-widget', product: product %} {% endcomment %}
                                            <div class="{{ endrock_featured_product.title| downcase }} products__heading add-toCart {% if endrock_featured_product.metafields.onetime.disabled_one_tieme_pusrchase.value %}disabled{% endif %}">
                                            <input
                                                type="hidden"
                                                name="id"
                                                value="{{ variant_current.id }}"
                                                disabled
                                            >
                                            {%- render 'button-add-to-cart'
                                                product_form_id: product_form_id,
                                                variant_current: variant_current,
                                                product: endrock_featured_product
                                           -%}
                                            </div>
                                        {%- endform -%}
                                        </product-form>
                                    {%- endif -%}
                                </div>
                                <a href="{{ endrock_featured_product.url }}">
                                    <div class="title-with-price">
                                        <h3 class="product_title">{{ endrock_featured_product.title }}</h3>
                                        <p class="product-price">{{ endrock_featured_product.price | money | remove: '.00' }}</p>
                                    </div>
                                </a>
                                <p class="product_property">{{ endrock_featured_product.metafields.my_fields.feature_product_subtitle }}</p>
                            </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>


{% javascript %}
    class RotatingWords extends HTMLElement {
    constructor() {
        super();
        this.words = this.innerText.split(',');
        this.innerText = '';
        this.classList.remove('hidden');
        this.currentWord = 0;
        this.wordElement = document.createElement('span');
        this.wordElement.classList.add('heading__rotating-words-word');
        this.appendChild(this.wordElement);
        this.wordElement.innerText = this.words[this.currentWord];
        this.wordElement.classList.remove('heading__rotating-words-word--hide', 'heading__rotating-words-word--show');
        this.currentWord++;
        this.interval = setInterval(() => {
        this.wordElement.classList.add('heading__rotating-words-word--hide');
        setTimeout(() => {
            this.wordElement.classList.add('heading__rotating-words-word--show');
            setTimeout(() => {
            this.wordElement.innerText = this.words[this.currentWord];
            this.wordElement.classList.remove(
                'heading__rotating-words-word--hide',
                'heading__rotating-words-word--show'
            );
            this.currentWord++;
            if (this.currentWord >= this.words.length) {
                this.currentWord = 0;
            }
            }, 150);
        }, 150);
        }, 3500);
    }
    disconnectedCallback() {
        clearInterval(this.interval);
    }
    }
    customElements.define('rotating-words', RotatingWords);

    if (window.innerWidth < 768) {
        const productSwiper = new Swiper('.endrock-featured-collection .swiper-container', {
            direction: 'horizontal',
            slidesPerView: 1,
            loop: true
        });
        function handleFocus(e, i) {
            productSwiper.slideTo(i);
        }
        const productSlides = document.querySelectorAll('.endrock-featured-collection .swiper-container .swiper-slide');
        productSlides.forEach((slide, i) => slide.addEventListener('focusin', (e) => handleFocus(e, i)));
    }


    
{% endjavascript %}
{% schema %}
{
  "name": "Endrock Collection",
  "tag": "section",
  "class": "endrock-feature-collection",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
        "type": "text",
        "id": "heading",
        "label":"Heading"
    },
    {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top",
        "min": 0,
        "max": 100,
        "unit": "px",
        "step": 5,
        "default": 50
    },
    {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "min": 0,
        "max": 100,
        "unit": "px",
        "step": 5,
        "default": 50
    },
    {
        "type": "range",
        "id": "mobile_padding_top",
        "label": "Mobile Padding Top",
        "min": 0,
        "max": 100,
        "unit": "px",
        "step": 5,
        "default": 50
    },
    {
        "type": "range",
        "id": "mobile_padding_bottom",
        "label": "Mobile Padding Bottom",
        "min": 0,
        "max": 100,
        "unit": "px",
        "step": 5,
        "default": 50
    },
    {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width"
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    }
  ],
  "blocks": [
    {
        "type": "product",
        "name": "product",
        "settings": [
            {
                "type": "product",
                "id": "featured_product",
                "label": "Featured Product"
            },
            {
                "type": "image_picker",
                "id":"custom_product_image",
                "label": "Custom Product Image"
            },
            {
                "type": "image_picker",
                "id": "hover_image",
                "label": "Hover Image"
            },
            {
                "type": "richtext",
                "id": "info_1",
                "label": "Product Info 1"
            },
            {
                "type": "text",
                "id": "info_1_top_position",
                "label": "Product Info 1 Top Position"
            },
            {
                "type": "text",
                "id": "info_1_right_position",
                "label": "Product Info 1 Right Position"
            },
            {
                "type": "text",
                "id": "info_1_left_position",
                "label": "Product Info 1 Left Position"
            },
            {
                "type": "text",
                "id": "info_1_bottom_position",
                "label": "Product Info 1 Bottom Position"
            },
            {
                "type": "richtext",
                "id": "info_2",
                "label": "Product Info 2"
            },
            {
                "type": "text",
                "id": "info_2_top_position",
                "label": "Product Info 2 Top Position"
            },
            {
                "type": "text",
                "id": "info_2_right_position",
                "label": "Product Info 2 Right Position"
            },
            {
                "type": "text",
                "id": "info_2_left_position",
                "label": "Product Info 2 Left Position"
            },
            {
                "type": "text",
                "id": "info_2_bottom_position",
                "label": "Product Info 2 Bottom Position"
            },
            {
                "type": "richtext",
                "id": "info_3",
                "label": "Product Info 3"
            },
            {
                "type": "text",
                "id": "info_3_top_position",
                "label": "Product Info 3 Top Position"
            },
            {
                "type": "text",
                "id": "info_3_right_position",
                "label": "Product Info 3 Right Position"
            },
            {
                "type": "text",
                "id": "info_3_left_position",
                "label": "Product Info 3 Left Position"
            },
            {
                "type": "text",
                "id": "info_3_bottom_position",
                "label": "Product Info 3 Bottom Position"
            }
        ]
    }
  ],
  
  "presets": [
    {
      "name": "Endrock Collections"
    }
  ]
}
{% endschema %}