{{ 'section-ingredient-page.css' | asset_url | stylesheet_tag }}
{{ 'section-modal.css' | asset_url | stylesheet_tag }}

<style>
html{
 scroll-behavior:smooth; 
}

.endrock-header:not(.shopify-section-header-sticky),
.endrock-header:not(.shopify-section-header-sticky) .newheader {
  background: transparent;
}
</style>

{{ 'endrock.style-ingredients.css' | asset_url | stylesheet_tag }}


<div class="page-container ingredient-custom__container">
  <div class="container">
    <div class="duo-banner_content"> 
      <div class="banner_1">
        <div class="banner-wrapper">
          <div class="image-wrapper-1">
          </div>
        </div>
        <div class="image-text">
          <div class="text-section">
            <div class="page-heading edinson">
              <h2 class="headings">our ingredients</h2>
              <h3 class="headings">Based in science, each is carefully <br>selected by our dentist founders. <br><br>Learn more below.</h3>
            </div>
            <div class="list">
              <button class="item-list"  onclick="window.location.href='#base';">
                Original
              </button>
              <button class="item-list"  onclick="window.location.href='#immunity';">
                Immunity
              </button>
              <br>
              <button class="item-list"  onclick="window.location.href='#energy';">
                Energy
              </button>
              <button class="item-list"  onclick="window.location.href='#sleep';">
                Sleep
              </button>
            </div> 
          </div>
        </div>
      </div>
    </div>
          
    <div class="list_mobile">
      <button class="item-list"  onclick="window.location.href='#base';">
        Original
      </button>
      <button class="item-list"  onclick="window.location.href='#immunity';">
        Immunity
      </button>
  
      <button class="item-list"  onclick="window.location.href='#energy';">
        Energy
      </button>
      <button class="item-list"  onclick="window.location.href='#sleep';">
        Sleep
      </button>
    </div> 
          
<!-- Original Sturcture Start -->            
        
    <div id="base" class="text-width_image  page-width section_1">

      <div class="section_grid">
        <div class="image-width_text">
          <div class="block-details">
            <div class="wrapper">
              <div class="image-division">
                <img src="{{  section.settings.image_original |  image_url: width: 700  }}" alt="" class="image-item">
              </div>
            </div>
            <div class="image-content">
              <div class="image-heding">
                <h2 class="image__heading">
                  <span class="span-1">Original</span>
                </h2>
                <p class="image_sub-heading">
                  <span class="sub-title">
                    The <b>ORIGINAL</b> tablet with<b> nHa + antioxidants</b> is the base of all our tablets.
                  </span>
                </p>
              </div>
              <div class="image_para-section">
                <div class="image-para">
                  <p class="para">
                    <span class="para_span">
                      <b>wild mint medley</b> 
                      <br> 
                      A sugar-free extraction of all-natural spearmint, wintergreen,
                        and peppermint from the fields of Southern California. A menthol kick keeps your mouth feeling fresh.
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ingredients-details">
          <div class="details-link">
            <div class="grid grid_base">
              <div class="base-section second__item">
                <h3 class="base-heading">
                  <span id="demo">toothpaste ingredients</span>
                </h3>
              </div>
              <div class="ingredients-list-section">
                  <ul class="ingrediants-lists">
                      <li class="item_list-link">
                          <button  id="Xylitol" class="myBtn_multi ingredients_link btn-link" dataindex="1">
                              <span class='link_text'>Xylitol</span>
                          </button>
                      </li>
                      <li class="item_list-link">
                          <button id="Cellulose" class="myBtn_multi ingredients_link btn-link" dataindex="2">
                              <span class='link_text'> Cellulose </span>
                          </button>
                      </li>
                      <li class="item_list-link">
                          <button class="myBtn_multi ingredients_link btn-link" dataindex="3">
                              <span class='link_text'> Xanthan gum </span>
                          </button>
                      </li>
                      <li class="item_list-link">
                          <button class="myBtn_multi ingredients_link btn-link" dataindex="4">
                              <span class='link_text'> Nano-Hydroxyapatite (nHa) </span>
                          </button>
                      </li>
                      <li class="item_list-link">
                          <button class="myBtn_multi ingredients_link btn-link" dataindex="5">
                              <span class='link_text'> Calcium carbonate </span>
                          </button>
                      </li>
                      <li class="item_list-link">
                          <button class="myBtn_multi ingredients_link btn-link" dataindex="6">
                              <span class='link_text'> Menthol </span>
                          </button>
                      </li>
                      <li class="item_list-link">
                        <button class="myBtn_multi ingredients_link btn-link" dataindex="7">
                            <span class='link_text'> Hydrated silica </span>
                        </button>
                      </li>
                      <li class="item_list-link">
                        <button class="myBtn_multi ingredients_link btn-link" dataindex="8">
                            <span class='link_text'> Magnesium stearate </span>
                        </button>
                      </li>
                      <li class="item_list-link">
                        <button class="myBtn_multi ingredients_link btn-link" dataindex="9">
                            <span class='link_text'> Sodium bicarbonate </span>
                        </button>
                      </li>
                      <li class="item_list-link">
                        <button class="myBtn_multi ingredients_link btn-link" dataindex="10">
                            <span class='link_text'> Vitamins C and E</span>
                        </button>
                      </li>
                  </ul>
              </div>
            </div>

            <div class="grid grid_flavour">
              <div class="base-section third__item">
                <h3 class="base-heading">
                  <span>flavor</span>
                </h3>
              </div>
              <div class="ingredients-list-section">
                  <ul class="ingrediants-lists">
                      <li class="item_list-link">
                          <button class="myBtn_multi ingredients_link btn-link" dataindex="11">
                              <span class='link_text'>Peppermint</span>
                          </button>
                      </li>
                      <li class="item_list-link">
                          <button class="myBtn_multi ingredients_link btn-link" dataindex="12">
                              <span class='link_text'> Spearmint </span>
                          </button>
                      </li>
                      <li class="item_list-link">
                          <button class="myBtn_multi ingredients_link btn-link" dataindex="13">
                              <span class='link_text'> Wintergreen </span>
                          </button>
                      </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
        
        
<!-- Modile POP START-->
        
        <div class="mobile-ingredients">

          <div class="image_para-section_m">
            <div class="image-para_m">
              <p class="para_m">
                <span class="para_span_m">
                  <span class="flavor_title">
                    <b>wild mint medley</b>
                  </span>
                  <br> A sugar-free extraction of all-natural spearmint, wintergreen,
                    and peppermint from the fields of Southern California. A menthol kick keeps your mouth feeling&nbsp;fresh.
                </span>
              </p>
            </div>
          </div>
            
          <div class="ingredients__items-list">
              
            <div class="mobile_heading-section">
              <div class="mobile_titles">
                <div class="circle_block">
                  <div class="mobile_circle">
                    <span class="circle_0"></span>
                  </div>
                </div>
                <div class="supplement-block">
                    <div class="supplement__title">
                        <h3 class="title__01">
                          <span>featuring</span>
                        </h3>
                    </div>
                    <div class="link_block">
                      <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                        <span class="span_link">nano-hydroxyapatite (nHA)</span>
                      </a>
                    <a href="javascript:void(0)" class="myBtn_multi mobile__link">

                        <span class="span_link">antioxidants (vitamins C+E)</span>

                    </a>
                        
                      
                    </div>
                </div>
              </div>
            </div>

            <div class="ingredients__block">
                
              <span class="sub-1__block">other toothpaste ingredients: </span> <br>
              
              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                <span class="span_link">xylitol (birch extract)</span>,
              </a>
      
              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                <span class="span_link">cellulose</span>,
              </a>
        
              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                <span class="span_link">xanthan gum</span>,
              </a>
    
          
              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                <span class="span_link">calcium carbonate</span>,
              </a>
          
              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                <span class="span_link">menthol</span>,
              </a>
        
              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                <span class="span_link"> hydrated silica</span>,
              </a>
        
              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                <span class="span_link"> magnesium stearate</span>,
              </a>
          
              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                <span class="span_link"> sodium bicarbonate</span>,
              </a>           

              <br><br>
              <span class="sub-1__block">flavor ingredients: </span>
              <br>

              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                <span class="span_link">peppermint</span>,
              </a>
                                                
              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                <span class="span_link">spearmint</span>,
              </a>
    
              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                <span class="span_link">wintergreen</span>
              </a>
            </div>
              
          </div>  
          
        </div> 
          
          <!-- Modile POP END -->

        <div class="page-link">
          <div class="show_link">
            <a href="javascript:void(0){{section.settings.link}}" class="link-0">
              {%if section.settings.link!=blank%}
                <a href="{{section.settings.link}}">
                  <span class="link-title">SHOP ORIGINAL</span>
                  <span class="arrow_link"></span>
                </a>
              {% endif %}
            </a>
          </div>
        </div>

      </div>

    </div>
<!-- Baseline Sturcture End -->          
          
          
         
<!-- Immunity Sturcture Start -->
          
    <div id="immunity" class="text-width_image  page-width section_2">

      <div class="section_grid">
          <div class="image-width_text">

              <div class="block-details">
                  <div class="wrapper">
                      <div class="image-division">
                          <img src="{{  section.settings.image_inmmunity |  image_url: width: 700  }}" alt="" class="image-item">
                      </div>
                  </div>
                  <div class="image-content">
                      <div class="image-heding">
                          <h2 class="image__heading">
                              <span class="span-2">Immunity</span>
                          </h2>
                        
                          <p class="image_sub-heading">
                              <span class="sub-title">Our <b>Immunity</b> tablet adds 30mcg <b>Vitamin D</b> and 6mcg <b>Vitamin B12</b>.


                              </span>
                          </p>
                        
                      </div>
                      <div class="image_para-section">
                          <div class="image-para">
                              <p class="para">
                                  <span class="para_span">
                                      <b>wild mint with sage</b> <br> A hint of cleansing sage resets the senses. Prepared with our blend of spearmint, wintergreen, and peppermint, with a menthol&nbsp;kick.
                                  </span>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>

          </div>

          <div class="ingredients-details">

              <div class="details-link">

                  <div class="grid grid-immunity">
                      <div class="base-section item2">
                          <h3 class="base-heading">
                              <span>functionals</span>
                          </h3>
                      </div>
                      <div class="ingredients-list-section">
                          <ul class="ingrediants-lists">

                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="1">
                                      <span class='link_text'>Vitamin D3 (30mcg) </span>
                                  </button>
                              </li>
                            
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="2">
                                      <span class='link_text'>Vitamin B12 (6mcg)</span>
                                  </button>
                              </li>
                            

                          </ul>
                      </div>
                  </div>
                

                  <div class="grid grid_base">
                      <div class="base-section second__item">
                          <h3 class="base-heading">
                              <span>toothpaste ingredients</span>
                          </h3>
                      </div>
                      <div class="ingredients-list-section">
                          <ul class="ingrediants-lists">
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="3">
                                      <span class='link_text'>Xylitol</span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button  class="myBtn_multi ingredients_link btn-link" dataindex="4">
                                      <span class='link_text'> Cellulose </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button  class="myBtn_multi ingredients_link btn-link" dataindex="5">
                                      <span class='link_text'> Xanthan gum </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button  class="myBtn_multi ingredients_link btn-link" dataindex="6">
                                      <span class='link_text'> Nano-Hydroxyapatite (nHa) </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button  class="myBtn_multi ingredients_link btn-link" dataindex="7">
                                      <span class='link_text'> Calcium carbonate </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button  class="myBtn_multi ingredients_link btn-link" dataindex="8">
                                      <span class='link_text'> Menthol </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button  class="myBtn_multi ingredients_link btn-link" dataindex="9">
                                      <span class='link_text'> Hydrated silica </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button  class="myBtn_multi ingredients_link btn-link" dataindex="10">
                                      <span class='link_text'> Magnesium stearate </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button  class="myBtn_multi ingredients_link btn-link" dataindex="11">
                                      <span class='link_text'> Sodium bicarbonate </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button  class="myBtn_multi ingredients_link btn-link" dataindex="12">
                                      <span class='link_text'>Vitamins C and E</span>
                                  </button>
                              </li>
                          </ul>
                      </div>
                  </div>

                  <div class="grid grid_flavour">
                      <div class="base-section third__item">
                          <h3 class="base-heading">
                              <span>flavor</span>
                          </h3>
                      </div>
                      <div class="ingredients-list-section">
                          <ul class="ingrediants-lists">
                              <li class="item_list-link">
                                  <button  class="myBtn_multi ingredients_link btn-link" dataindex="13">
                                      <span class='link_text'>Peppermint  </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button  class="myBtn_multi ingredients_link btn-link" dataindex="14">
                                      <span class='link_text'> Spearmint </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button  class="myBtn_multi ingredients_link btn-link" dataindex="15">
                                      <span class='link_text'> Wintergreen </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button  class="myBtn_multi ingredients_link btn-link" dataindex="16">
                                      <span class='link_text'>Sage</span>
                                  </button>
                              </li>
                          </ul>
                      </div>
                  </div>
                  
              </div>

          </div>
        
        
          <div class="mobile-ingredients">
            <div class="image_para-section_m">
                <div class="image-para_m">
                    <p class="para_m">
                        <span class="para_span_m">
                            <span class="flavor_title"><b>wild mint with sage</b></span> <br>A hint of cleansing sage resets the senses. Prepared with our blend of spearmint, wintergreen, and peppermint, with a menthol&nbsp;kick.

                        </span>
                    </p>
                </div>
              </div>
            
            <div class="ingredients__items-list">
              
              <div class="mobile_heading-section">
                <div class="mobile_titles">
                        <div class="circle_block">
                            <div class="mobile_circle">
                                <span class="circle_0"></span>
                            </div>
                        </div>
                        <div class="supplement-block">
                            <div class="supplement__title">
                                <h3 class="title__01">
                                  <span>supplements</span>
                                </h3>
                            </div>
                            <div class="link_block">
                                <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                        <span class="span_link">vitamin D3</span>
                                      <span class="sub_link">30mcg*</span>
                                </a>
                                <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                        <span class="span_link">vitamin B12</span>
                                      <span class="sub_link">6mcg*</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
              
              <div class="ingredients__block">
                
                      <span class="sub-1__block">toothpaste ingredients: </span>
                      
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">xylitol (birch extract)</span>,
                              </a>
                      
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">cellulose</span>,
                              </a>
                        
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">xanthan gum</span>,
                              </a>
                          
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">nano-hydroxyapatite</span>,
                              </a>
                          
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">calcium carbonate</span>,
                              </a>
                          
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">menthol</span>,
                              </a>
                        
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link"> hydrated silica</span>,
                              </a>
                        
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link"> magnesium stearate</span>,
                              </a>
                          
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link"> sodium bicarbonate</span>,
                              </a>
                          <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link"> Vitamins C and E</span>,
                              </a>
                          <br><br><span class="sub-1__block">flavor ingredients: </span>

                          <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">peppermint</span>,
                              </a>
                                                                
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">spearmint</span>,
                              </a>
                    
                          <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">wintergreen</span>,
                              </a>
                
                      <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">sage </span>
                              </a>

                  </div>
              
            </div>  
          
        </div> 
        

          <div class="page-link">
              <div class="show_link">
                  <a href="javascript:void(0)" class="link-0">
                    {%if section.settings.Immunity_link!=blank%}
                    <a href="{{section.settings.Immunity_link}}"><span class="link-title">SHOP IMMUNITY</span> <span class="arrow_link"></span></a>
                    {% endif %}
                      
                  </a>
              </div>
          </div>

      </div>


    </div>
<!-- Immunity Sturcture End -->          
          
          
<!-- Energy Sturcture Start -->
    <div id="energy" class="text-width_image  page-width section_3">

        <div class="section_grid">
          <div class="image-width_text">

            <div class="block-details">
                <div class="wrapper">
                    <div class="image-division">
                        <img src="{{  section.settings.image_energy |  image_url: width: 700  }}" alt="" class="image-item">
                    </div>
                </div>
                <div class="image-content">
                    <div class="image-heding">
                        <h2 class="image__heading">
                            <span class="span-3">Energy</span>
                        </h2>
                        <p class="image_sub-heading">
                            <span class="sub-title">
                                Our <b>Energy</b> tablet adds 10mg <b>caffeine</b> with 2.5mg <b>L-theanine</b> and 6mcg <b>Vitamin&nbsp;B12</b>.
                            </span>
                        </p>
                    </div>
                    <div class="image_para-section">
                        <div class="image-para">
                            <p class="para">
                                <span class="para_span">
                                    <b>cinnamon mint chai</b> <br>A pinch of cinnamon and chai for an invigorating zing. Blended with our wild mint medley and a hint of menthol keep your mouth feeling&nbsp;fresh.

                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

          </div>

          <div class="ingredients-details">

              <div class="details-link">

                  <div class="grid grid_energy">
                      <div class="base-section item3">
                          <h3 class="base-heading">
                              <span>functionals</span>
                          </h3>
                      </div>
                      <div class="ingredients-list-section">
                          <ul class="ingrediants-lists">

                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="1">
                                      <span class='link_text'>Caffeine  </span>
                                  </button>
                              </li>
                            
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="2">
                                      <span class='link_text'> L-Theanine </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="3">
                                      <span class='link_text'>Vitamin B12</span>
                                  </button>
                              </li>

                          </ul>
                      </div>
                  </div>

                  <div class="grid grid_base">
                      <div class="base-section second__item">
                          <h3 class="base-heading">
                              <span>toothpaste ingredients</span>
                          </h3>
                      </div>
                      <div class="ingredients-list-section">
                          <ul class="ingrediants-lists">
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="4">
                                      <span class='link_text'>Xylitol </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="5">
                                      <span class='link_text'> Cellulose  </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="6">
                                      <span class='link_text'> Xanthan gum  </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="7">
                                      <span class='link_text'> Nano-Hydroxyapatite (nHa)  </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="8">
                                      <span class='link_text'> Calcium carbonate  </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="9">
                                      <span class='link_text'> Menthol </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="10">
                                      <span class='link_text'> Magnesium stearate </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="11">
                                      <span class='link_text'> Stevia leaf extract </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="12">
                                      <span class='link_text'> Sodium bilcarbonate </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="13">
                                      <span class='link_text'> Vitamins C and E </span>
                                  </button>
                              </li>
                          </ul>
                      </div>
                  </div>

                  <div class="grid grid_flavour">
                      <div class="base-section third__item">
                          <h3 class="base-heading">
                              <span>flavor</span>
                          </h3>
                      </div>
                      <div class="ingredients-list-section">
                          <ul class="ingrediants-lists">
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="14">
                                      <span class='link_text'>Peppermint </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="15">
                                      <span class='link_text'> Spearmint  </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="16">
                                      <span class='link_text'> Wintergreen </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="17">
                                      <span class='link_text'> Cinnamon </span>
                                  </button>
                              </li>
                              <li class="item_list-link">
                                  <button class="myBtn_multi ingredients_link btn-link" dataindex="18">
                                      <span class='link_text'> Chai</span>
                                  </button>
                              </li>
                          </ul>
                      </div>
                  </div>
                
              </div>

          </div>
        
          <div class="mobile-ingredients">
            <div class="image_para-section_m">
                <div class="image-para_m">
                    <p class="para_m">
                        <span class="para_span_m">
                            <span class="flavor_title"><b>cinnamon mint chai</b></span> <br>A pinch of cinnamon and chai for an invigorating zing. Blended with our wild mint medley and a hint of menthol keep your mouth feeling&nbsp;fresh.

                        </span>
                    </p>
                </div>
              </div>
            <div class="ingredients__items-list">
              
              <div class="mobile_heading-section">
                <div class="mobile_titles">
                        <div class="circle_block">
                            <div class="mobile_circle">
                                <span class="circle_0"></span>
                            </div>
                        </div>
                        <div class="supplement-block">
                            <div class="supplement__title">
                                <h3 class="title__01">
                                  <span>supplements</span>
                                </h3>
                            </div>
                            <div class="link_block">
                                <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                        <span class="span_link">Caffeine </span>
                                      <span class="sub_link">10mg*</span>
                                </a>
                                <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                        <span class="span_link">L-Theanine</span>
                                      <span class="sub_link">2.5mg*</span>
                                </a>
                                <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                        <span class="span_link">Vitamin B12</span>
                                      <span class="sub_link">6mcg*</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
              
              <div class="ingredients__block">
                
                      <span class="sub-1__block">toothpaste ingredients: </span>
                      
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">xylitol (birch extract)</span>,
                              </a>
                      
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">cellulose</span>,
                              </a>
                        
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">xanthan gum</span>,
                              </a>
                          
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">nano-hydroxyapatite</span>,
                              </a>
                          
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">calcium carbonate</span>,
                              </a>
                          
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">menthol</span>,
                              </a>
                        
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">magnesium stearate</span>,
                              </a>
                      
                          <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">stevia leaf extract</span>,
                              </a>
                          
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">sodium bicarbonate</span>,
                              </a>
                          <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">Vitamins C and E</span>,
                              </a>
                          <br><br><span class="sub-1__block">flavor ingredients: </span>

                          <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">peppermint</span>,
                              </a>
                        
                        
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">spearmint</span>,
                              </a>
                      
                          <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">wintergreen</span>,
                              </a>
                      
                          <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">cinnamon</span>,
                              </a>
                      
                          <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">chai</span>
                              </a>

                  </div>
              
            </div>  
          
          </div>  

          <div class="page-link">
              <div class="show_link">
                  <a href="javascript:void(0)" class="link-0">
                      {%if section.settings.energy_link!=blank%}
                    <a href="{{section.settings.energy_link}}"><span class="link-title">SHOP ENERGY</span> <span class="arrow_link"></span></a>
                    {% endif %}
                  </a>
              </div>
          </div>

        </div>

    </div>
<!-- Energy Sturcture End -->          
          
 
<!-- Sleep Sturcture Start -->          
    <div id="sleep" class="text-width_image  page-width section_4">

      <div class="section_grid">
        <div class="image-width_text">

            <div class="block-details">
                <div class="wrapper">
                    <div class="image-division">
                        <img src="{{  section.settings.image_sleep |  image_url: width: 700  }}" alt="" class="image-item">
                    </div>
                </div>
                <div class="image-content">
                    <div class="image-heding">
                        <h2 class="image__heading">
                            <span class="span-4">Sleep</span>
                        </h2>
                        <p class="image_sub-heading">
                            <span class="sub-title">
                              Our <b>Sleep</b> tablet adds 1.5mg <b>Melatonin</b> and 2.5mg&nbsp;<b>L-theanine</b>.

                            </span>
                        </p>
                    </div>
                    <div class="image_para-section">
                        <div class="image-para">
                            <p class="para">
                                <span class="para_span">
                                    <b>mint with lavender</b> <br>A touch of lavender and French vanilla for the smell and taste of dreams. With spearmint, wintergreen, peppermint, and&nbsp;menthol.

                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="ingredients-details">

          <div class="details-link">

            <div class="grid grid_sleep">
                <div class="base-section item4">
                    <h3 class="base-heading ">
                        <span>functionals</span>
                    </h3>
                </div>
                <div class="ingredients-list-section">
                  <ul class="ingrediants-lists">

                      <li class="item_list-link">
                          <button class="myBtn_multi ingredients_link btn-link" dataindex="1">
                              <span class='link_text'>Melatonin </span>
                          </button>
                      </li>
                      <li class="item_list-link">
                          <button class="myBtn_multi ingredients_link btn-link" dataindex="2">
                              <span class='link_text'> L-Theanine </span>
                          </button>
                      </li>

                  </ul>
                </div>
            </div>

            <div class="grid grid_base">
                <div class="base-section second__item">
                    <h3 class="base-heading">
                        <span>toothpaste ingredients</span>
                    </h3>
                </div>
                <div class="ingredients-list-section">
                    <ul class="ingrediants-lists">
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="3">
                                <span class='link_text'>Xylitol </span>
                            </button>
                        </li>
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="4">
                                <span class='link_text'>Cellulose</span>
                            </button>
                        </li>
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="5">
                                <span class='link_text'> Xanthan gum </span>
                            </button>
                        </li>
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="6">
                                <span class='link_text'> Nano-Hydroxyapatite (nHa) </span>
                            </button>
                        </li>
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="7">
                                <span class='link_text'> Calcium carbonate </span>
                            </button>
                        </li>
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="8">
                                <span class='link_text'> Menthol </span>
                            </button>
                        </li>
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="9">
                                <span class='link_text'> Hydrated Silica </span>
                            </button>
                        </li>
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="10">
                                <span class='link_text'> Magnesium stearate </span>
                            </button>
                        </li>
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="11">
                                <span class='link_text'>Sodium bilcarbonate </span>
                            </button>
                        </li>
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="12">
                                <span class='link_text'> Vitamins C and E  </span>
                            </button>
                        </li>
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="13">
                                <span class='link_text'>Stevia leaf extract</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="grid grid_flavour">
                <div class="base-section third__item">
                    <h3 class="base-heading">
                        <span>flavor</span>
                    </h3>
                </div>
                <div class="ingredients-list-section">
                    <ul class="ingrediants-lists">
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="14">
                                <span class='link_text'>Lavender | </span>
                            </button>
                        </li>
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="15">
                                <span class='link_text'>French Vanilla</span>
                            </button>
                        </li>
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="16">
                                <span class='link_text'>Peppermint</span>
                            </button>
                        </li>
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="17">
                                <span class='link_text'>Spearmint</span>
                            </button>
                        </li>
                        <li class="item_list-link">
                            <button class="myBtn_multi ingredients_link btn-link" dataindex="18">
                                <span class='link_text'>Wintergreen</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
          </div>

        </div>
        
        
  <!-- Sleep Mobile Ingredients -->
        
        <div class="mobile-ingredients">
            <div class="image_para-section_m">
                <div class="image-para_m">
                    <p class="para_m">
                        <span class="para_span_m">
                            <span class="flavor_title"><b>mint with lavender</b></span> <br>A touch of lavender and French vanilla for the smell and taste of dreams. With spearmint, wintergreen, peppermint, and&nbsp;menthol.



                        </span>
                    </p>
                </div>
            </div>
          
            
            <div class="ingredients__items-list">
              
              <div class="mobile_heading-section">
                <div class="mobile_titles">
                        <div class="circle_block">
                            <div class="mobile_circle">
                                <span class="circle_0"></span>
                            </div>
                        </div>
                        <div class="supplement-block">
                            <div class="supplement__title">
                                <h3 class="title__01">
                                  <span>supplements</span>
                                </h3>
                            </div>
                            <div class="link_block">
                                <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                        <span class="span_link">Melatonin</span>
                                      <span class="sub_link">1.5mg*</span>		
                                </a>
                                <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                        <span class="span_link">L-Theanine</span>
                                      <span class="sub_link">2.5mg*</span>	
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
              
              <div class="ingredients__block">
                
                      <span class="sub-1__block">toothpaste ingredients: </span>
                      
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">xylitol (birch extract)</span>,
                              </a>
                      
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">cellulose</span>,
                              </a>
                        
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">xanthan gum</span>,
                              </a>
                          
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">nano-hydroxyapatite</span>,
                              </a>
                          
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">calcium carbonate</span>,
                              </a>
                          
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">menthol</span>,
                              </a>
                        
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">hydrated silica</span>,
                              </a>
                        
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">magnesium stearate</span>,
                              </a>
                          
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">sodium bicarbonate</span>,
                              </a>
                          <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link"> Vitamins C and E </span>,
                              </a>
                          <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">stevia leaf extract</span>,
                              </a>
                      
                            <br><br><span class="sub-1__block">flavor ingredients: </span>

                          <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">lavender</span>,
                              </a>
                        
                        
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">french Vanilla</span>,
                              </a>
                      
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">peppermint</span>,
                              </a>
                      
                          <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">spearmint</span>,
                              </a>
                        
                              <a href="javascript:void(0)" class="myBtn_multi mobile__link">
                                  <span class="span_link">wintergreen </span>
                              </a>

                  </div>
              
            </div>  
          
        </div> 
        

        <div class="page-link">
            <div class="show_link">
                <a href="javascript:void(0)" class="link-0">
                    {%if section.settings.sleep_link!=blank%}
                    <a href="{{section.settings.sleep_link}}">
                      <span class="link-title">SHOP SLEEP</span> <span class="arrow_link"></span>
                    </a>
                    {% endif %}
                
                </a>
            </div>
        </div>

      </div>

    </div>
<!-- Sleep Sturcture End -->   
          
  </div>
  
  	<div class="disclaimer">
      <p class="disclaimer_para">
        <span>
          *These supplements have not been evaluated by the Food and Drug Administration.
          This product is not intended to diagnose, treat, or prevent any disease.
        </span>
      </p>
  	</div>

    </div>


<!-- BaseLine Modal for Desktop and mobile Start -->
{%render 'baseline-modal-1'%}
{%render 'baseline-mobile-modal'%}


<!-- BaseLine Modal for Desktop and mobile End -->



<!-- Immunity Modal for Desktop and mobile Start -->

{%render 'immunity-modal-1'%}
{%render 'immunity-mobile-modal'%} 


<!-- Immunity Modal for Desktop and mobile End -->

<!-- Energy Modal for Desktop and mobile Start -->
{%render 'energy-modal-1'%}
{%render 'energy-mobile-modal'%}


<!-- Energy Modal for Desktop and mobile End -->

<!-- Sleep Modal for Desktop and mobile Start -->

{%render 'sleep-modal-1'%}
{%render 'mobile-sleep-modal'%}



<!-- Sleep Modal for Desktop and mobile End -->




<script>
      var modalparent = document.getElementsByClassName('modal_multi');

      var modal_btn_multi = document.getElementsByClassName('myBtn_multi ingredients_link btn-link');
      var btn_base_count = document.getElementById('base').getElementsByClassName('myBtn_multi ingredients_link btn-link').length;
      var btn_immunity_count = document.getElementById('immunity').getElementsByClassName('myBtn_multi ingredients_link btn-link').length;
      var btn_energy_count = document.getElementById('energy').getElementsByClassName('myBtn_multi ingredients_link btn-link').length;
      var btn_sleep_count = document.getElementById('sleep').getElementsByClassName('myBtn_multi ingredients_link btn-link').length;

      var span_close_multi = document.getElementsByClassName('close_multi');

      
      var modalbase = document.getElementsByClassName('baseline_content');
      var modalimm = document.getElementsByClassName('immunity_content');
      var modalenergy = document.getElementsByClassName('energy_content');
      var modalsleep = document.getElementsByClassName('sleep_content');

  
      function setDataIndex() {
        for (i = 0; i < modal_btn_multi.length; i++) {
          modal_btn_multi[i].setAttribute('data-index', i);
        }

        for (i = 0; i < modalparent.length; i++) {
          modalparent[i].setAttribute('data-index', i);
          span_close_multi[i].setAttribute('data-index', i);
        }
      }
      for (i = 0; i < modal_btn_multi.length; i++) {

        
        modal_btn_multi[i].onclick = function () {
          var ElementIndex = this.getAttribute('data-index');
          if (ElementIndex < btn_base_count) {
            modalparent[0].style.display = 'block';
          } else if (ElementIndex < btn_base_count+btn_immunity_count) {
            modalparent[1].style.display = 'block';

          } else if (ElementIndex < (btn_base_count+btn_immunity_count+btn_energy_count)) {
            modalparent[2].style.display = 'block';

          } else if (ElementIndex < (btn_base_count+btn_immunity_count+btn_energy_count + btn_sleep_count)) {
                      modalparent[3].style.display = 'block';
          }


        };

        // When the user clicks on <span> (x), close the modal
      }
      
      for (i = 0; i < span_close_multi.length; i++) {

        span_close_multi[i].onclick = function () {
            var ElementIndex = this.getAttribute('data-index');
            modalparent[ElementIndex].style.display = 'none';
        };
      }


      var modal = document.getElementById('myModal');
      var btn = document.getElementById('myBtn');
      if (btn !== null) {
        btn.onclick = function () {
          modal.style.display = 'block';
        };
      }
      if (modal !== null) {
        var span = modal.getElementsByClassName('close')[0]; // Modified by dsones uk
        span.onclick = function () {
          modal.style.display = 'none';
        };
      }
    </script>

<!-- -------modal popup - mobile specific note ------------ -->


<script>
      var modalparent_m = document.getElementsByClassName('modal_mobile');
      var modal_btn_mobile = document.getElementsByClassName('myBtn_multi mobile__link');
      var span_close_mobile = document.getElementsByClassName('close_multi_m');

  
      function setDataIndexM() {
        for (i = 0; i < modal_btn_mobile.length; i++) {
          modal_btn_mobile[i].setAttribute('data-index', i);
          modalparent_m[i].setAttribute('data-index', i);
          span_close_mobile[i].setAttribute('data-index', i);
        }
      }

      for (i = 0; i < modal_btn_mobile.length; i++) {
        modal_btn_mobile[i].onclick = function () {
          var ElementIndex = this.getAttribute('data-index');
          modalparent_m[ElementIndex].style.display = 'block';
        };

        // When the user clicks on <span> (x), close the modal
        span_close_mobile[i].onclick = function () {
          var ElementIndex = this.getAttribute('data-index');
          modalparent_m[ElementIndex].style.display = 'none';
        };
      }


      var modal_m = document.getElementById('myModal');
      var btn_m = document.getElementById('myBtn');
      if (btn !== null) {
        btn.onclick = function () {
          moda_m.style.display = 'block';
        };
      }
      if (modal_m !== null) {
        var span = modal_m.getElementsByClassName('close')[0]; // Modified by dsones uk
        span.onclick = function () {
          modal_m.style.display = 'none';
        };
      }
    </script>

    <script>
      window.onload = function () {
        
        setDataIndex();
        setDataIndexM();

      };
  
      window.onclick = function (event) {
        if (event.target === modalparent[event.target.getAttribute('data-index')]) {
          modalparent[event.target.getAttribute('data-index')].style.display = 'none';
        }
        if (event.target === modalparent_m[event.target.getAttribute('data-index')]) {
          modalparent_m[event.target.getAttribute('data-index')].style.display = 'none';
        }
        if (event.target === modal) {
          modal.style.display = 'none';
        }
      };
      
    </script>

<!-- -------modal popup------------ -->

{% schema %}

{
  "name": "Ingregient",
  "tag": "section",
  "class": "ingredient ingredient-custom",
    "settings": [
        {
            "type": "image_picker",
            "id": "image_original",
            "label": "Image original"
        },
     {
        "id": "link",
        "type": "url",
        "label": "Base Line Button link"
      },
        {
            "type": "image_picker",
            "id": "image_inmmunity",
            "label": "Image immunity"
        },
      {
        "id": "Immunity_link",
        "type": "url",
        "label": "Immunity Button link"
      },
        {
            "type": "image_picker",
            "id": "image_energy",
            "label": "Image energy"
        },
       {
        "id": "energy_link",
        "type": "url",
        "label": "Energy Button link"
      },
        {
            "type": "image_picker",
            "id": "image_sleep",
            "label": "Image sleep"
        },
       {
        "id": "sleep_link",
        "type": "url",
        "label": "Sleep Button link"
      }
     ],
      "presets": [
        {
        "name": "Ingredient",
        "category": "Content"
        }
    ]

}



{% endschema %}


