<div class="password-sec color-{{ section.settings.color_scheme }} gradient">
  <div class="password-header">
    {%- if section.settings.logo -%}
      <img
        src="{{ section.settings.logo | img_url: '500x500' }}"
        class="password-logo"
        alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
        style="max-width: {{ section.settings.logo_max_width }}px"
        width="{{ section.settings.logo_max_width }}"
        height="{{ section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio }}"
        loading="lazy"
      >
    {%- else -%}
      <h1 class="h2">{{ shop.name }}</h1>
    {%- endif -%}
    <h2 class="passw-title">toothpaste + function</h2>    
<!--     <h3 class="passwd-title">The first toothpaste<br>
      to do both.</h3>
    <p class="passw-para">Dropping soon. Don’t miss out.</p>         -->
  </div>
  
  <div class="rightsideimage">
      <img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Brush_1_e114bc77-aa56-451e-bf5f-8b72a94fdcb8.png?v=1653886656">
  </div>
  <div class="form password">
     {%- form 'storefront_password', id: 'ContactForm' -%}
        {%- if form.posted_successfully? -%}
          <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} Thanks for signing up - we will let you know when we launch!</div>
        {%- elsif form.errors -%}
          <div class="form__message">
            <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
          </div>
          <ul class="form-status-list caption-large" role="list">
            <li>
              <a href="#ContactForm-email" class="link">
                {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
              </a>
            </li>
          </ul>
        {%- endif -%}
    <div class="pass-div-flex">
           
            <input
                  type="password"
                  name="password"
                  id="Password"
                  class="field__input"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="enter secret password"
                >
          
          <button type="submit" class="button">
            {% render 'arrow-left' %}
            
            <svg class="mobile" width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M28.7071 8.70711C29.0976 8.31659 29.0976 7.68342 28.7071 7.2929L22.3431 0.928934C21.9526 0.53841 21.3195 0.53841 20.9289 0.928934C20.5384 1.31946 20.5384 1.95262 20.9289 2.34315L26.5858 8L20.9289 13.6569C20.5384 14.0474 20.5384 14.6805 20.9289 15.0711C21.3195 15.4616 21.9526 15.4616 22.3431 15.0711L28.7071 8.70711ZM-8.74228e-08 9L28 9L28 7L8.74228e-08 7L-8.74228e-08 9Z" fill="black"/>
</svg>

          </button>
        
           
    </div>
      {%- endform -%}
   
    
  </div>
  
   
    <div class="bottomimg">
      <img src="https://cdn.shopify.com/s/files/1/0553/3233/9879/files/Brush2.png?v=1658213790">
    </div>
</div>
{%- if section.settings.color_scheme == 'background-1' -%}<hr>{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main-password-header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.main-password-header.settings.logo_max_width.unit",
      "label": "t:sections.main-password-header.settings.logo_max_width.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.main-password-header.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.main-password-header.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.main-password-header.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.main-password-header.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.main-password-header.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.main-password-header.settings.color_scheme.label"
    }
  ]
}
{% endschema %}
