{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'endrock.styles-product.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% render 'head-fonts' %}

{%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link
    id="ModelViewerStyle"
    rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
    media="print"
    onload="this.media='all'"
  >
  <link
    id="ModelViewerOverride"
    rel="stylesheet"
    href="{{ 'component-model-viewer-ui.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
{%- endif -%}
{%- if section.settings.product_color != blank -%}
  {%- style -%}
    .main-product{
		{%- assign product_color_lighter = section.settings.product_color  | color_modify: 'lightness', 90.4  -%}
		--product-color: {{ section.settings.product_color.red }}, {{ section.settings.product_color.green }}, {{ section.settings.product_color.blue }};
		--product-color-lighter: {{ product_color_lighter.red }}, {{ product_color_lighter.green }}, {{ product_color_lighter.blue }};
    }
  {%- endstyle -%}
{%- endif -%}
<section class="main-product">
  <div class="page-width">
    {% render 'breadcrumbs' %}
    <div class="product grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
      <div class="grid__item product__media-wrapper product-gallery" id="product__media-{{ section.id }}">
        {% comment %} product media {% endcomment %}
        {% render 'product-medias' %}
      </div>
      <div class="product__info-wrapper grid__item">
        <div
          id="ProductInfo-{{ section.id }}"
          class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}"
        >
          {%- assign product_form_id = 'product-form-' | append: section.id -%}

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'text' -%}
					<p
					  class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
					  {{ block.shopify_attributes }}
					>
					{{- block.settings.text -}}
					</p>
              {%- when 'title' -%}
					{%- if block.settings.icon != blank -%}
						<div class="product__title--with-icon">
					{%- endif -%}
					<h1 class="product__title" {{ block.shopify_attributes }}>
					{{ product.title | escape }}
					</h1>
					{%- if block.settings.icon != blank -%}
						<div class="product__title-icon">
							{{ block.settings.icon | image_url: width: 95 | image_tag: width: 285, widths: '95, 160, 285', sizes: '95px' }}
						</div>
						</div>
					{%- endif -%}
              {%- when 'price' -%}
                <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                  {%- render 'price',
                    product: product,
                    use_variant: true,
                    show_badges: true,
                    price_class: 'price--large'
                  -%}
                </div>
                {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                  <div class="product__tax caption rte">
                    {%- if shop.taxes_included -%}
                      {{ 'products.product.include_taxes' | t }}
                    {%- endif -%}
                    {%- if shop.shipping_policy.body != blank -%}
                      {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- endif -%}
                  </div>
                {%- endif -%}
                <div {{ block.shopify_attributes }}>
                  {%- form 'product',
                    product,
                    id: 'product-form-installment',
                    class: 'installment caption-large'
                  -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                    {{ form | payment_terms }}
                  {%- endform -%}
                </div>
              {%- when 'social-proof-units' -%}
                {% render "social-proof-units", social_proof_msg: block.settings.social_proof_msg %}
              {%- when 'description' -%}
                {%- if product.description != blank -%}
                  <div class="product__description rte">
                    {{ product.description }}
                  </div>
                {%- endif -%}
              {%- when 'pick_function' -%}
                {%- if block.settings.label != blank or block.settings.products != blank or block.settings.details != blank -%}
                  <div class="product__pick-function__wrapper">
                    {%- if block.settings.label != blank and block.settings.products != blank -%}
                      <div class="product__pick-function">
                        <div class="product__pick-function__label">
                          {{ block.settings.label }}: <span>{{ product.title }}</span>
                        </div>
                        <ul class="product__pick-function__products" role="list">
                          {%- for p in block.settings.products -%}
                            {%- if p != blank -%}
                              <li class="product__pick-function__product{% if product == p %} product__pick-function__product--current{% endif %}">
                                <a href="{{ p.url }}">
                                  <span class="visually-hidden">{{ p.title }}</span>
                                  {%- assign p_image = p.featured_media -%}
                                  {%- if p.media[2] != null -%}
                                    {%- assign p_image = p.media[2] -%}
                                  {%- endif -%}
                                  <span class="product__pick-function__product-image">
                                    {{ p_image | image_url: width: 100 | image_tag: width: 100, widths: '100, 200, 300', sizes: '100px' }}
                                  </span>
                                </a>
                              </li>
                            {%- endif -%}
                          {%- endfor -%}
                        </ul>
                      </div>
                    {%- endif -%}
                    {%- if block.settings.details != blank -%}
                      <div class="product__pick-function__details">
                        {%- capture list_icon -%}
                          <li>
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" aria-hidden="true" role="presentation" fill="none">
                            <use xlink:href="#icon-{{ section.id }}-{{ block.id }}"></use>
                          </svg>
                        {%- endcapture -%}
                        {{ block.settings.details | replace: '<li>', list_icon }}
                      </div>
                    {%- endif -%}
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
                      <symbol id="icon-{{ section.id }}-{{ block.id }}" viewBox="0 0 27 28">
                        <path d="M12.838 1.28094C13.1323 0.906352 13.699 0.906352 13.9933 1.28094L16.2083 4.10158C16.3925 4.33602 16.6997 4.43597 16.9863 4.35466L20.4342 3.37624C20.8922 3.24631 21.3508 3.57989 21.3688 4.05605L21.5049 7.64154C21.5163 7.93954 21.7061 8.20123 21.9858 8.30409L25.3496 9.54163C25.7963 9.70598 25.9716 10.2457 25.7066 10.6416L23.7117 13.6224C23.5459 13.8701 23.5459 14.1936 23.7117 14.4414L25.7066 17.4221C25.9716 17.818 25.7963 18.3577 25.3496 18.5221L21.9858 19.7597C21.7061 19.8625 21.5163 20.1242 21.5049 20.4222L21.3688 24.0076C21.3508 24.4838 20.8922 24.8174 20.4342 24.6875L16.9863 23.7091C16.6997 23.6277 16.3925 23.7277 16.2083 23.9622L13.9933 26.7828C13.699 27.1573 13.1323 27.1573 12.838 26.7828L10.623 23.9622C10.4389 23.7277 10.1316 23.6277 9.845 23.7091L6.39699 24.6875C5.93908 24.8174 5.48049 24.4838 5.46242 24.0076L5.32635 20.4222C5.31503 20.1242 5.12513 19.8625 4.84554 19.7597L1.48163 18.5221C1.03489 18.3577 0.859725 17.818 1.12466 17.4221L3.11957 14.4414C3.28538 14.1936 3.28538 13.8701 3.11957 13.6224L1.12466 10.6416C0.859725 10.2457 1.03489 9.70598 1.48163 9.54163L4.84555 8.30409C5.12513 8.20123 5.31503 7.93954 5.32635 7.64154L5.46242 4.05605C5.48049 3.57989 5.93908 3.24631 6.397 3.37624L9.845 4.35466C10.1316 4.43597 10.4389 4.33602 10.623 4.10158L12.838 1.28094Z" fill="rgb(var(--product-color))" stroke="black" stroke-width="1.30846"/>
                        <path d="M9.74072 14.0317L12.1899 16.4837L17.0882 11.5796" stroke="black" stroke-width="1.83906" stroke-linecap="round" stroke-linejoin="round"/>										
                      </symbol>
                    </svg>
                  </div>
                {%- endif -%}
                    {%- when 'custom_liquid' -%}
                      {{ block.settings.custom_liquid }}
                    {%- when 'collapsible_tab' -%}
                      <div class="product__accordion accordion" {{ block.shopify_attributes }}>
                        <details id="Details-{{ block.id }}-{{ section.id }}">
                          <summary>
                            <div class="summary__title">
                              {% render 'icon-accordion', icon: block.settings.icon %}
                              <h2 class="h4 accordion__title">
                                {{ block.settings.heading | default: block.settings.page.title }}
                              </h2>
                            </div>
                            {% render 'icon-caret' %}
                          </summary>
                          <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                            {{ block.settings.content }}
                            {{ block.settings.page.content }}
                          </div>
                        </details>
                      </div>
                    {% comment %} {%- when 'quantity_selector' -%}
                      <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
                        <label class="form__label" for="Quantity-{{ section.id }}">
                          {{ 'products.product.quantity.label' | t }}
                        </label>

                        <quantity-input class="quantity">
                          <button class="quantity__button no-js-hidden" name="minus" type="button">
                            <span class="visually-hidden">
                              {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                            </span>
                            {% render 'icon-minus' %}
                          </button>
                          <input
                            class="quantity__input"
                            type="number"
                            name="quantity"
                            id="Quantity-{{ section.id }}"
                            min="1"
                            value="1"
                            form="{{ product_form_id }}"
                          >
                          <button class="quantity__button no-js-hidden" name="plus" type="button">
                            <span class="visually-hidden">
                              {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                            </span>
                            {% render 'icon-plus' %}
                          </button>
                        </quantity-input>
                      </div> {% endcomment %}
                    {%- when 'popup' -%}
                      <modal-opener
                        class="product-popup-modal__opener no-js-hidden"
                        data-modal="#PopupModal-{{ block.id }}"
                        {{ block.shopify_attributes }}
                      >
                        <button
                          id="ProductPopup-{{ block.id }}"
                          class="product-popup-modal__button link"
                          type="button"
                          aria-haspopup="dialog"
                        >
                          {{ block.settings.text | default: block.settings.page.title }}
                        </button>
                      </modal-opener>
                      <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">
                        {{- block.settings.text -}}
                      </a>
                    {%- when 'share' -%}
                      <share-button id="Share-{{ section.id }}" class="share-button" {{ block.shopify_attributes }}>
                        <button class="share-button__button hidden">
                          {% render 'icon-share' %}
                          {{ block.settings.share_label | escape }}
                        </button>
                        <details id="Details-{{ block.id }}-{{ section.id }}">
                          <summary class="share-button__button">
                            {% render 'icon-share' %}
                            {{ block.settings.share_label | escape }}
                          </summary>
                          <div id="Product-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                            <div class="field">
                              <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                              </span>
                              <input
                                type="text"
                                class="field__input"
                                id="url"
                                value="{{ product.selected_variant.url | default: product.url | prepend: shop.url }}"
                                placeholder="{{ 'general.share.share_url' | t }}"
                                onclick="this.select();"
                                readonly
                              >
                              <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                            </div>
                            <button class="share-button__close hidden no-js-hidden">
                              {% render 'icon-close' %}
                              <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                            </button>
                            <button class="share-button__copy no-js-hidden">
                              {% render 'icon-clipboard' %}
                              <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                            </button>
                          </div>
                        </details>
                      </share-button>
                      <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
                    {%- when 'variant_picker' -%}
                <div class="variants_wrapper">
                  {%- unless product.has_only_default_variant -%}
                    {%- if block.settings.picker_type == 'button' -%}
                      <variant-radios
                        class="no-js-hidden"
                        data-section="{{ section.id }}"
                        data-url="{{ product.url }}"
                        {{ block.shopify_attributes }}
                      >
                      {%- for option in product.options_with_values -%}
                        <fieldset class="js product-form__input product-form__input--radio">
                          <legend class="form__label">{{ option.name }}:</legend>
                            {%- assign option_index = forloop.index0 -%}
                            {%- assign values = '' -%}
                            {%- for variant in product.variants -%}
                              {%- assign value = variant.options[option_index] %}
                              {%- unless values contains value -%}
                                {%- assign values = values | join: ',' | append: ',' | append: value | split: ',' -%}
                                <input
                                  type="radio"
                                  id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="{{ product_form_id }}"
                                  {% if option.selected_value == value %}
                                    checked
                                  {% endif %}
                                >
                                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                                  <span class="variant-field__label">
                                    <span class="variant-field__radio-icon"></span>
                                    <span class="variant-field__name">{{ value }}</span>
                                    {%- if variant.metafields.duo.variant_details != blank -%}
                                      <span class="variant-field__details">{{ variant.metafields.duo.variant_details }}</span>
                                    {%- endif -%}
                                  </span>
                                  {%- if variant.compare_at_price > variant.price  -%}
                                    {%- assign discounted_amount = variant.compare_at_price | minus: variant.price | times: 100.0 | divided_by: variant.compare_at_price | money_without_currency | times: 100 | round  -%}
                                    <span class="variant-field__sale" data-discounted="{{ discounted_amount }}">
                                      Save {{ discounted_amount }}%
                                    </span>
                                  {%- endif -%}
                                  <span class="variant-field__price">
                                    <span>{{ variant.price | money }}</span>
                                    {%- if variant.compare_at_price > variant.price -%}
                                      <s>{{ variant.compare_at_price | money }}</s>
                                    {%- endif -%}
                                  </span>
                                </label>
                            {%- endunless -%}
                          {%- endfor -%}
                          </fieldset>
                      {%- endfor -%}
                      <script type="application/json">
                        {{ product.variants | json }}
                      </script>
                      </variant-radios>
                    {%- else -%}
                      <variant-selects
                        class="no-js-hidden"
                        data-section="{{ section.id }}"
                        data-url="{{ product.url }}"
                        {{ block.shopify_attributes }}
                        >
                        {%- for option in product.options_with_values -%}
                          <div class="product-form__input product-form__input--dropdown">
                          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                            {{ option.name }}
                          </label>
                          <div class="select">
                            <select
                            id="Option-{{ section.id }}-{{ forloop.index0 }}"
                            class="select__select"
                            name="options[{{ option.name | escape }}]"
                            form="{{ product_form_id }}"
                            >
                            {%- for value in option.values -%}
                              <option
                              value="{{ value | escape }}"
                              {% if option.selected_value == value %}
                                selected="selected"
                              {% endif %}
                              >
                              {{ value }}
                              </option>
                            {%- endfor -%}
                            </select>
                            {% render 'icon-caret' %}
                          </div>
                          </div>
                        {%- endfor -%}

                        <script type="application/json">
                          {{ product.variants | json }}
                        </script>
                      </variant-selects>
                    {%- endif -%}
                  {%- endunless -%}
                  <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                    <label class="form__label" for="Variants-{{ section.id }}">
                    {{- 'products.product.product_variants' | t -}}
                    </label>
                    <div class="select">
                    <select
                      name="id"
                      id="Variants-{{ section.id }}"
                      class="select__select"
                      form="{{ product_form_id }}"
                    >
                      {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}
                        selected="selected"
                        {% endif %}
                        {% if variant.available == false %}
                        disabled
                        {% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                      {%- endfor -%}
                    </select>
                    {% render 'icon-caret' %}
                    </div>
                  </div>
                  </noscript>
                </div>
              {%- when 'buy_buttons' -%}
                <div class="product-form__wrapper" {{ block.shopify_attributes }}>
                  <product-form class="product-form">
                    <div class="product-form__input product-form__quantity hidden" {{ block.shopify_attributes }}>
                      <label class="form__label" for="Quantity-{{ section.id }}">
                        {{ 'products.product.quantity.label' | t }}
                      </label>

                      <quantity-input class="quantity">
                        <button class="quantity__button no-js-hidden" name="minus" type="button">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                          </span>
                          {% render 'icon-minus' %}
                        </button>
                        <input
                          class="quantity__input"
                          type="number"
                          name="quantity"
                          id="Quantity-{{ section.id }}"
                          min="1"
                          value="1"
                          form="{{ product_form_id }}"
                        >
                        <button class="quantity__button no-js-hidden" name="plus" type="button">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                          </span>
                          {% render 'icon-plus' %}
                        </button>
                      </quantity-input>
                    </div>
                    <div class="product-form__error-message-wrapper" role="alert" hidden>
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        role="presentation"
                        class="icon icon-error"
                        viewBox="0 0 13 13"
                      >
                        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                      </svg>
                      <span class="product-form__error-message"></span>
                    </div>

                    {%- form 'product',
                      product,
                      id: product_form_id,
                      class: 'form',
                      novalidate: 'novalidate',
                      data-type: 'add-to-cart-form'
                    -%}


                                      {% comment %}
  DO NOT modify this source code
  LOOP WIDGET CODE STARTS
{% endcomment %}
{% assign template_exists = false %}
{% capture template_content %}
    {% render 'loop-subscriptions', type: 'product-widget', product: product %}
{% endcapture %}


<script>
  console.log({{ template_content | json }})
</script>

{% if template_content contains 'Rendering loop-subscriptions' %}
  {% assign template_exists = true %}
{% endif %}

{% if template_exists %}
  {% render 'loop-subscriptions', type: 'product-widget', product: product %}
{% endif %}
{% comment %}
  LOOP WIDGET CODE ENDS
{% endcomment %}
                      <input
                        type="hidden"
                        name="id"
                        value="{{ product.selected_or_first_available_variant.id }}"
                        disabled
                      >
                      <div class="product-form__buttons">
                        <button
                          type="submit"
                          name="add"
                          class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                          {% if product.selected_or_first_available_variant.available == false %}
                            disabled
                          {% endif %}
                        >
                          <span>
                            {%- if product.selected_or_first_available_variant.available -%}
                              {{ 'products.product.add_to_cart' | t }}
                            {%- else -%}
                              {{ 'products.product.sold_out' | t }}
                            {%- endif -%}
                          </span>
                          <div class="loading-overlay__spinner hidden">
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              role="presentation"
                              class="spinner"
                              viewBox="0 0 66 66"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                        </button>
                        {%- if block.settings.show_dynamic_checkout -%}
                          {{ form | payment_button }}
                        {%- endif -%}
                        <div class="hidden" style="display:none" id="atc-content-{{ section.id }}">
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </div>
                        <div class="hidden" style="display:none" id="atc-content-without-price-{{ section.id }}">
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </div>
                      </div>
                    {%- endform -%}
                  </product-form>
                  {% comment %} {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

                  {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
                    | where: 'pick_up_enabled', true
                  -%}

                  <pickup-availability
                    class="product__pickup-availabilities no-js-hidden"
                    {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
                      available
                    {% endif %}
                    data-root-url="{{ routes.root_url }}"
                    data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                    data-has-only-default-variant="{{ product.has_only_default_variant }}"
                  >
                    <template>
                      <pickup-availability-preview class="pickup-availability-preview">
                        {% render 'icon-unavailable' %}
                        <div class="pickup-availability-info">
                          <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                          <button class="pickup-availability-button link link--text underlined-link">
                            {{ 'products.product.pickup_availability.refresh' | t }}
                          </button>
                        </div>
                      </pickup-availability-preview>
                    </template>
                  </pickup-availability>
          <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script> {% endcomment %}
                </div>
              {%- when 'order-by-message' -%}
                {% render "order-by-message", order_by_message: block.settings.order_by_message, min_days: block.settings.min_days, max_days: block.settings.max_days %}
              {%- when 'rating' -%}
                {%- if product.metafields.reviews.rating.value != blank -%}
                  {% liquid
                    assign rating_decimal = 0
                    assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                    if decimal >= 0.3 and decimal <= 0.7
                      assign rating_decimal = 0.5
                    elsif decimal > 0.7
                      assign rating_decimal = 1
                    endif
                  %}
                  <div
                    class="rating"
                    role="img"
                    aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}"
                  >
                    <span
                      aria-hidden="true"
                      class="rating-star color-icon-{{ settings.accent_icons }}"
                      style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                    ></span>
                  </div>
                  <p class="rating-text caption">
                    <span aria-hidden="true">
                      {{- product.metafields.reviews.rating.value }} /
                      {{ product.metafields.reviews.rating.value.scale_max -}}
                    </span>
                  </p>
                  <p class="rating-count caption">
                    <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                    <span class="visually-hidden">
                      {{- product.metafields.reviews.rating_count }}
                      {{ 'accessibility.total_reviews' | t -}}
                    </span>
                  </p>
                {%- endif -%}

              {%- when 'options_shipping' -%}
                <div class="info-shipping">
                  <p> {{ block.settings.returned_info }}</p>
                  <p> {{ block.settings.free_shipping_info }}</p>

                  {% if block.settings.show_time_delivery %}
                    <div class="show-delivery-time">
                      Order today and receive by January 13 - 16
                    </div>
                  {% endif %}
                </div>
              {%- when 'link_customization' -%}
                <div class="link-custom">
                  <div class="icon">
                    {% render 'icon-link-product' %}
                  </div>
                  <div class="text-link">
                    {{ block.settings.link_custom }}
                  </div>
                </div>
            
              {%- endcase -%}
          {%- endfor -%}
              </div>
          {%- if section.settings.product_cta != blank -%}
            <div class="product__cta center rte">
              {{ section.settings.product_cta }}
            </div>
          {%- endif -%}
      </div>
    </div>

    {% assign popups = section.blocks | where: 'type', 'popup' %}
    {%- for block in popups -%}
      <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
        <div
          role="dialog"
          aria-label="{{ block.settings.text }}"
          aria-modal="true"
          class="product-popup-modal__content"
          tabindex="-1"
        >
          <button
            id="ModalClose-{{ block.id }}"
            type="button"
            class="product-popup-modal__toggle"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            {% render 'icon-close' %}
          </button>
          <div class="product-popup-modal__content-info">
            <h1 class="h2">{{ block.settings.page.title }}</h1>
            {{ block.settings.page.content }}
          </div>
        </div>
      </modal-dialog>
    {%- endfor -%}
  </div>
</section>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="icon-arrow-left-{{ section.id }}" viewBox="0 0 21 43">
  	<path d="M17.8469 2.21179L4.1998 21.3177L17.8469 40.4236" stroke="currentColor" stroke-width="5.45882"/>
  </symbol>
  <symbol id="icon-arrow-right-{{ section.id }}" viewBox="0 0 21 43">
  	<path d="M3.19995 2.21179L16.847 21.3177L3.19995 40.4236" stroke="currentColor" stroke-width="5.45882"/>
  </symbol>
</svg>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher =
      document.querySelector('variant-radios[data-section="{{ section.id }}"]') ||
      document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector(
      '.product-form__noscript-wrapper-{{ section.id }}'
    ).textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function (event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
  jQuery(document).ready(function ($) {
    $('#product__media-{{ section.id }} .product-media__slides').slick({
      dots: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      adaptiveHeight: true,
      infinite: false,
      appendArrows: $('#product__media-{{ section.id }} .product-media__arrows'),
      appendDots: $('#product__media-{{ section.id }} .product-media__dots'),
      prevArrow:
        '<button type="button" class="product-media__slick-prev"><span class="visually-hidden">Previous Slide</span><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-arrow-left" aria-hidden="true" role="presentation" fill="none"><use xlink:href="#icon-arrow-left-{{ section.id }}" /></svg></button>',
      nextArrow:
        '<button type="button" class="product-media__slick-next"><span class="visually-hidden">Next Slide</span><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-arrow-right" aria-hidden="true" role="presentation" fill="none"><use xlink:href="#icon-arrow-right-{{ section.id }}" /></svg></button>',
    });
  });
</script>

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section spaced-section endrock-product",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon (Displayes on the right of the title)"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "social-proof-units",
      "name": "Social Proof Units",
      "limit": 1,
      "settings": [
        {
          "id": "social_proof_msg",
          "type": "text",
          "label": "Social Proof Units message",
          "default": "250,000+ Tablets Sold Since Launch!"
        }
      ]
    },
    {
      "type": "order-by-message",
      "name": "Order By Message",
      "limit": 1,
      "settings": [
        {
          "id": "min_days",
          "type": "number",
          "label": "Min days for receive by",
          "default": 5
        },
        {
          "id": "max_days",
          "type": "number",
          "label": "Max days for receive by",
          "default": 12
        },
        {
          "id": "order_by_message",
          "type": "text",
          "label": "Order by message",
          "default": "Order today and receive by:"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "pick_function",
      "name": "Pick function",
      "settings": [
        {
          "type": "text",
          "label": "Label",
          "id": "label",
          "default": "Pick your function"
        },
        {
          "type": "product_list",
          "label": "Products",
          "id": "products"
        },
        {
          "type": "richtext",
          "label": "Details",
          "id": "details"

        }
      ]
    },
    {
      "type": "options_shipping",
      "name": "Options shipping",
      "settings": [
        {
          "type": "text",
          "label": "Info returnd",
          "id": "returned_info",
          "default": "+ 100% Guaranteed - return for full refund if not satisfied"
        },
        {
          "type": "text",
          "label": "Info free shipping",
          "id": "free_shipping_info",
          "default": "+ Free shipping on orders over $25"
        },
        {
          "type": "checkbox",
          "label": "Show time delivery",
          "id": "show_time_delivery",
          "default": true
        }
      ]
    },
    {
      "type": "link_customization",
      "name": "Link custom",
      "settings": [
        {
          "type": "richtext",
          "label": "Link custom",
          "id": "link_custom",
          "default": "<p>Do you want to create your own Duo combination?</p>"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "product_color",
      "label": "Product color"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
	{
		"type": "header",
		"content": "Product information"
	},
	{
		"type": "richtext",
		"id": "product_cta",
		"label": "Product CTA"
	}
  ]
}
{% endschema %}

<script src="{{ 'endrock.scripts-product.js' |  asset_url }}"></script>
