{%- if section.settings.desktop_image != blank or section.settings.mobile_image != blank -%}
  {% style %}
  	.pdp-image__wrapper{line-height: 0}
    .pdp-image__wrapper img {
      width: 100%;
      height: auto;
    }
  {% endstyle %}
  <div class="pdp-image__wrapper{% if section.settings.display_desktop == false %} medium-hide large-up-hide{% endif %}{% if section.settings.display_mobile == false %} small-hide{% endif %}">
    <picture>
      {% assign default_image = section.settings.desktop_image | default: section.settings.mobile_image %}
      {%- if section.settings.mobile_image != blank -%}
        <source
          {% if section.settings.desktop_image != blank %}
            media="(max-width: 749px)"
          {% endif %}
          srcset="
            {%- if section.settings.mobile_image.width >= 375 -%}{{ section.settings.mobile_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.mobile_image.width >= 750 -%}{{ section.settings.mobile_image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.mobile_image.width >= 1100 -%}{{ section.settings.mobile_image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.mobile_image.width >= 1500 -%}{{ section.settings.mobile_image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.mobile_image.width >= 1780 -%}{{ section.settings.mobile_image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.mobile_image.width >= 2000 -%}{{ section.settings.mobile_image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.mobile_image.width >= 3000 -%}{{ section.settings.mobile_image | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if section.settings.mobile_image.width >= 3840 -%}{{ section.settings.mobile_image | img_url: '3840x' }} 3840w,{%- endif -%}
            {{ section.settings.mobile_image | img_url: 'master' }} {{ section.settings.mobile_image.width }}w
          "
        >
      {%- endif -%}
      {%- if section.settings.desktop_image != blank -%}
        <source
          {% if section.settings.mobile_image != blank %}
            media="(min-width: 750px)"
          {% endif %}
          srcset="
            {%- if section.settings.desktop_image.width >= 375 -%}{{ section.settings.desktop_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.desktop_image.width >= 750 -%}{{ section.settings.desktop_image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.desktop_image.width >= 1100 -%}{{ section.settings.desktop_image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.desktop_image.width >= 1500 -%}{{ section.settings.desktop_image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.desktop_image.width >= 1780 -%}{{ section.settings.desktop_image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.desktop_image.width >= 2000 -%}{{ section.settings.desktop_image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.desktop_image.width >= 3000 -%}{{ section.settings.desktop_image | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if section.settings.desktop_image.width >= 3840 -%}{{ section.settings.desktop_image | img_url: '3840x' }} 3840w,{%- endif -%}
            {{ section.settings.desktop_image | img_url: 'master' }} {{ section.settings.desktop_image.width }}w
          "
        >
      {%- endif -%}
      <img
        src="{{ default_image | img_url: 'master' }}"
        alt="{{ default_image.alt }}"
        width="{{ default_image.width }}"
        height="{{ default_image.height }}"
        loading="lazy"
      >
    </picture>
  </div>
{%- endif -%}
{% schema %}
{
  "name": "PDP - Image",
  "class": "section-pdp-image",
  "tag": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Display settings"
    },
    {
      "type": "checkbox",
      "id": "display_desktop",
      "label": "Show on desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_mobile",
      "label": "Show on mobile",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image"
    }
  ],
  "presets": [
    {
      "name": "PDP - Image"
    }
  ]
}
{% endschema %}
