<style>
  .white_bg-color {
    background-color: #eceffd;
  }
</style>

<div class="about-product white_bg-color">
  <div class="page-width">
    <div class="prod-about-main">
      <div class="image_about-prod">
        <!-- <img src="{{section.settings.about_image|img_url:'master'}}" class="about-img"> -->
        <img
          class="about-img"
          srcset="
            {%- if section.settings.about_image.width >= 375 -%}{{ section.settings.about_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.about_image.width >= 750 -%}{{ section.settings.about_image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.about_image.width >= 1100 -%}{{ section.settings.about_image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.about_image.width >= 1500 -%}{{ section.settings.about_image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.about_image.width >= 1780 -%}{{ section.settings.about_image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.about_image.width >= 2000 -%}{{ section.settings.about_image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.about_image.width >= 3000 -%}{{ section.settings.about_image | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if section.settings.about_image.width >= 3840 -%}{{ section.settings.about_image | img_url: '3840x' }} 3840w,{%- endif -%}
            {{ section.settings.about_image | img_url: 'master' }} {{ section.settings.about_image.width }}w
          "
          sizes="auto"
          src="{{ section.settings.about_image | img_url: '200x' }}"
          loading="lazy"
          alt="{{ section.settings.about_image.alt | escape }}"
          width="auto"
          height="auto"
        >
      </div>

      <div class="text_about-prod">
        <!-- <img src="{{section.settings.imgs|img_url:'master'}}" class="text-about-img"> -->
        <img
          class="text-about-img"
          srcset="
            {%- if section.settings.imgs.width >= 375 -%}{{ section.settings.imgs | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.imgs.width >= 750 -%}{{ section.settings.imgs | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.imgs.width >= 1100 -%}{{ section.settings.imgs | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.imgs.width >= 1500 -%}{{ section.settings.imgs | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.imgs.width >= 1780 -%}{{ section.settings.imgs | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.imgs.width >= 2000 -%}{{ section.settings.imgs | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.imgs.width >= 3000 -%}{{ section.settings.imgs | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if section.settings.imgs.width >= 3840 -%}{{ section.settings.imgs | img_url: '3840x' }} 3840w,{%- endif -%}
            {{ section.settings.imgs | img_url: 'master' }} {{ section.settings.imgs.width }}w
          "
          sizes="auto"
          src="{{ section.settings.imgs | img_url: '200x' }}"
          loading="lazy"
          alt="{{ section.settings.imgs.alt | escape }}"
          width="auto"
          height="auto"
        >
        <h2 class="title">{{ section.settings.title1 }}</h2>
        <p class="nano-discription">{{ section.settings.txt1 }}</p>
        <a href="{{section.settings.learnmore}}" class="learnmore_about">Learn more</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "talk about product img",
  "settings": [
    {
      "type": "image_picker",
      "id": "imgs",
      "label": "Brush Image"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "txt1",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "about_image",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "learnmore",
      "label": "Learn More Link"
    }
  ],
  "presets": [
    {
      "name": "talk about product img",
      "category": "title"
    }
  ]
}
{% endschema %}
